<app-header></app-header>
<!-- start rpa banner -->
<section class="page-top-banner section-gap-full relative" data-stellar-background-ratio="0.5">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row section-gap-half">
            <div class="col-lg-12 text-center">
                <h1>VIRTUAL INTERNSHIP ON ROBOTIC PROCESS AUTOMATION</h1>
            </div>
        </div>
        <div class="btn text-center">
            <a routerLink="/LandingPage/rpa-registration"><button class="button-1 text-center" role="button">Register Now</button></a>
        </div>
        
        <br><br><br><br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="color:rgb(25, 228, 228); font-size: 24px; font-style: italic;">New Batch Commenced On</h2>
                <h3 style="color:rgb(241, 160, 9); font-size: 18px; font-style: italic;">14th Sep – 27th Sep 2020</h3>
            </div>
        </div>
    </div>
</section>
<!-- end rpa banner -->

<!-- start course fees -->
<section class="price-section section-gap-full" id="price-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 price-left">
                <h3 id="text-head">
                    Robotic Process Automation  
                </h3>
                <p>
                    Robotic Process Automation has grown exponentially over the past few years. The demand for RPA is increasing in the RPA market as it promises to replace repetitive, rule-based, mundane, manual digital tasks with software robots. It also ensures organizations to make their operational processes error-free.
                </p>
               
            </div>
            <div class="col-lg-6 d-flex price-right">
                <div class="single-price main">
                    <div class="top-wrap">
                        <i class="ti ti-medall"></i>
                        <h4>Enterprise</h4>
                        <p> internship fee</p>
                        <h2><span></span>₹ 2490/-</h2>
                    </div>
                    <div class="bottom-wrap">
                        <ul>
                            <li class="d-flex justify-content-between align-items-center">
                                <span>Experiential Learning</span>
                                <i class="ti ti-check"></i>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <span>Exposure to Latest Technology Trends</span>
                                <i class="ti ti-check"></i>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <span>Best Practices Followed by Industry and their Use Cases</span>
                                <i class="ti ti-check"></i>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <span>Online Certification</span>
                                <i class="ti ti-check"></i>
                            </li>
                        </ul>
                        <a routerLink="/LandingPage/rpa-registration" class="primary-btn primary-btn-w d-block mx-auto">Register Now</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- end course fees -->

 <!-- start tools and technologies used -->
<section class="featured-section">
    <div class="container">
        <div class="section-title">
            <h2 class="text-center">Tools And Technologies used</h2>
        </div>
        <div class="row align-item-center">
            <div class="col-lg-4 col-md-4 col-sm-4 single-logo">
                <img class="img-fluid" src="/assets/img/uipathlogo.png" alt="">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 single-logo">
                <img class="img-fluid" src="/assets/img/vscode.jpg" alt="">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 single-logo">
                <img class="img-fluid" src="/assets/img/vscode2.jpg" alt="">
            </div>
            
        </div>
    </div>
</section>
<!-- end tools and technolohies -->


<!-- agenda at a glance start -->
<section class="about-section section-gap-full relative" id="about-section">
    <div class="container">
        <h1 id="agenda-head">AGENDA AT A GLANCE</h1>
        <div class="row align-items-center justify-content-between" style="margin-left: 110px;">
            <div class="col-lg-6 col-md-12 about-right">
                
                <ul>
                    <li class="d-flex">
                        <div class="icon">
                            <span>1</span>
                        </div>
                        <div class="details">
                            <h4>Day 1</h4>
                            
                                <ul style="list-style: circle;">
                                    <li>Live-Internship Orientation -Introduction to RPA Using UIPath</li>
                                    <li>Recorded -UiPath Installation and its UI Familiarization</li>
                                    <li>Practice Session -Recorded Video Content</li>
                                </ul>
                           
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>2</span>
                        </div>
                        <div class="details">
                            <h4>Day 2</h4>
                            <ul style="list-style: circle;">
                                <li>Live-Internship Orientation -Introduction to RPA Using UIPath</li>
                                <li>Recorded -UiPath Installation and its UI Familiarization</li>
                                <li>Practice Session -Recorded Video Content</li>
                            </ul>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span >3</span>
                        </div>
                        <div class="details">
                            <h4>Day 3</h4>
                            <ul style="list-style: circle;">
                                <li>Live-Internship Orientation -Introduction to RPA Using UIPath</li>
                                <li>Recorded -UiPath Installation and its UI Familiarization</li>
                                <li>Practice Session -Recorded Video Content</li>
                            </ul>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>4</span>
                        </div>
                        <div class="details">
                            <h4>Day 4</h4>
                            <ul style="list-style: circle;">
                                <li>Live-Internship Orientation -Introduction to RPA Using UIPath</li>
                                <li>Recorded -UiPath Installation and its UI Familiarization</li>
                                <li>Practice Session -Recorded Video Content</li>
                            </ul>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>5</span>
                        </div>
                        <div class="details">
                            <h4>Day 5</h4>
                            <ul style="list-style: circle;">
                                <li>Live-Internship Orientation -Introduction to RPA Using UIPath</li>
                                <li>Recorded -UiPath Installation and its UI Familiarization</li>
                                <li>Practice Session -Recorded Video Content</li>
                            </ul>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span >6</span>
                        </div>
                        <div class="details">
                            <h4>Day 6</h4>
                            <ul style="list-style: circle;">
                                <li>Live-Internship Orientation -Introduction to RPA Using UIPath</li>
                                <li>Recorded -UiPath Installation and its UI Familiarization</li>
                                <li>Practice Session -Recorded Video Content</li>
                            </ul>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>7</span>
                        </div>
                        <div class="details">
                            <h4>Day 7</h4>
                            <ul style="list-style: circle;">
                                <li>Live-Internship Orientation -Introduction to RPA Using UIPath</li>
                                <li>Recorded -UiPath Installation and its UI Familiarization</li>
                                <li>Practice Session -Recorded Video Content</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12 about-right">
                
                <ul>
                    <li class="d-flex">
                        <div class="icon">
                            <span>8</span>
                        </div>
                        <div class="details">
                            <h4>Day 8</h4>
                            <ul style="list-style: circle;">
                                <li>Live-Internship Orientation -Introduction to RPA Using UIPath</li>
                                <li>Recorded -UiPath Installation and its UI Familiarization</li>
                                <li>Practice Session -Recorded Video Content</li>
                            </ul>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span >9</span>
                        </div>
                        <div class="details">
                            <h4>Day 9</h4>
                            <ul style="list-style: circle;">
                                <li>Live-Internship Orientation -Introduction to RPA Using UIPath</li>
                                <li>Recorded -UiPath Installation and its UI Familiarization</li>
                                <li>Practice Session -Recorded Video Content</li>
                            </ul>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>10</span>
                        </div>
                        <div class="details">
                            <h4>Day 10</h4>
                            <ul style="list-style: circle;">
                                <li>Live-Internship Orientation -Introduction to RPA Using UIPath</li>
                                <li>Recorded -UiPath Installation and its UI Familiarization</li>
                                <li>Practice Session -Recorded Video Content</li>
                            </ul>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>11</span>
                        </div>
                        <div class="details">
                            <h4>Day 11</h4>
                            <ul style="list-style: circle;">
                                <li>Live-Internship Orientation -Introduction to RPA Using UIPath</li>
                                <li>Recorded -UiPath Installation and its UI Familiarization</li>
                                <li>Practice Session -Recorded Video Content</li>
                            </ul>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>12</span>
                        </div>
                        <div class="details">
                            <h4>Day 12</h4>
                            <ul style="list-style: circle;">
                                <li>Live-Internship Orientation -Introduction to RPA Using UIPath</li>
                                <li>Recorded -UiPath Installation and its UI Familiarization</li>
                                <li>Practice Session -Recorded Video Content</li>
                            </ul>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>13</span>
                        </div>
                        <div class="details">
                            <h4>Day 13</h4>
                            <ul style="list-style: circle;">
                                <li>Live-Internship Orientation -Introduction to RPA Using UIPath</li>
                                <li>Recorded -UiPath Installation and its UI Familiarization</li>
                                <li>Practice Session -Recorded Video Content</li>
                            </ul>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>14</span>
                        </div>
                        <div class="details">
                            <h4>Day 14</h4>
                            <ul style="list-style: circle;">
                                <li>Live-Internship Orientation -Introduction to RPA Using UIPath</li>
                                <li>Recorded -UiPath Installation and its UI Familiarization</li>
                                <li>Practice Session -Recorded Video Content</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- agenda at a glance end -->

<!-- frequently asked questions start -->
<section class="faq-section section-gap-full">
    <div class="container">
        <div class="section-title">
            <h2 class="text-center" id="faq-head">Frequently Asked Questions</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <mat-accordion>
                    <mat-expansion-panel style="background:rgba(0,0,0,0.1);">
                        <mat-expansion-panel-header  style="background: white;" >
                            <mat-panel-title>
                                What is RPA?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                            consisted consulted elsewhere happiness disposing household any old the. Widow downs you
                            new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by
                            daughters resembled unwilling principle so middleton. Fail most room even gone her end
                            like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                            company thought wishing colonel it prevent he in. Pretended residence are something far
                            engrossed old off.</p>
                    </mat-expansion-panel>
            
                    <mat-expansion-panel style="background:rgba(0,0,0,0.1);">
                        <mat-expansion-panel-header  style="background: white;" >
                            <mat-panel-title>
                                How can I register the internship?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                            consisted consulted elsewhere happiness disposing household any old the. Widow downs you
                            new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by
                            daughters resembled unwilling principle so middleton. Fail most room even gone her end
                            like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                            company thought wishing colonel it prevent he in. Pretended residence are something far
                            engrossed old off.</p>
                    </mat-expansion-panel>
            
                    <mat-expansion-panel style="background:rgba(0,0,0,0.1);">
                        <mat-expansion-panel-header  style="background: white;">
                            <mat-panel-title>
                                How much should I pay for Internship?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                            consisted consulted elsewhere happiness disposing household any old the. Widow downs you
                            new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by
                            daughters resembled unwilling principle so middleton. Fail most room even gone her end
                            like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                            company thought wishing colonel it prevent he in. Pretended residence are something far
                            engrossed old off.</p>
                    </mat-expansion-panel>
            
                    <mat-expansion-panel style="background:rgba(0,0,0,0.1);">
                        <mat-expansion-panel-header style="background: white;">
                            <mat-panel-title>
                                Who can join this Internship?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                            consisted consulted elsewhere happiness disposing household any old the. Widow downs you
                            new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by
                            daughters resembled unwilling principle so middleton. Fail most room even gone her end
                            like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                            company thought wishing colonel it prevent he in. Pretended residence are something far
                            engrossed old off.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel style="background:rgba(0,0,0,0.1);">
                        <mat-expansion-panel-header style="background: white;">
                            <mat-panel-title>
                                Will I get certificate after completing the Internship?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                            consisted consulted elsewhere happiness disposing household any old the. Widow downs you
                            new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by
                            daughters resembled unwilling principle so middleton. Fail most room even gone her end
                            like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                            company thought wishing colonel it prevent he in. Pretended residence are something far
                            engrossed old off.</p>
                    </mat-expansion-panel>
                </mat-accordion>   
            </div>
        </div>
    </div>
</section>
<!-- frequntly asked questions end -->

<app-footer></app-footer>
