.gradient-bg  {
    background: -moz-linear-gradient(0deg, #df37a7 0%, #691cff 100%);
    background: -webkit-linear-gradient(0deg, #f51dac 0%, #691cff 100%);
    background: -ms-linear-gradient(0deg, #f51dac 0%, #691cff 100%);
  }
.page-top-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0,0.2)), url("/assets/img/rpa1.jpg");
    background-size: cover;
    
        opacity: 0.9;
    
    
      h1{
        color:white;        
        font-size: 55px;
        margin-bottom:8px;
        animation: text 5s 1;
    }
      h4{
        color:#000;
        font-weight: 400;
    }
    @keyframes text {
      0% {
          color: black;
          margin-bottom: -40px;
      }

      30% {
          letter-spacing: 25px;
          margin-bottom: -40px;
          color:white;
      }

      85% {
          letter-spacing: 8px;
          margin-bottom: -40px;
          color:white;
      }
  }
}




#text-head{
  font-size: 34px;
  font-weight: bold;
}
#agenda-head{
  text-align: center; 
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: bold;
}
.featured-section {
  .row {
      padding-bottom: 75px;
      border-bottom: 1px solid #eee;
  }

  .single-logo {
    text-align: center;
   
    img {
        text-align: center;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: .5;
        // @include transition();

        &:hover {
            -ms-transform: scale(0.9, 0.9);
            -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            filter: grayscale(0%);
            opacity: 2;
        }
    }
}
 }

.feature-section {
  background: url(/assets/img/feature-bg.png)center no-repeat;
  background-size: cover;

  .header-left {
      h1 {
          padding-bottom: 30px;
          font-size: 50px;
          text-transform: capitalize;
      }
  }
}

.faq-section{
  margin-top: -100px;
}
.mat-expansion-panel-header-title{
  color:black;
  font-size: 1.2rem;
}
#faq-head{
  font-size: 35px;
  font-weight: bold;
}

.btn{
  position: absolute;
  top: 58%;
  left:40%;
  transform: translate(-50% -50%);
}

.button-1{
  border: none;
  background: darkorange;
  color: white;
  border-radius: 50px;
  cursor:pointer;
  pointer-events: auto;
}
.button-1:hover{
  border: 2px solid darkorange !important;
  background: none !important;
}

@media (min-width: 768px) {
  .button-1 {
    font-size: 1.3rem;
    padding: .5rem 1rem;
    width:100%;
  }
  .page-top-banner h1{
    padding:0;
  }
}
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
  .button-1 {
    padding: .5rem 1.5rem;
  }
  .btn{
    position: relative;
    left:100px;
  }
  .page-top-banner h1{
    font-size: 35px;
    font-weight: bold;
    margin:0px;
  }
  #about-section ul{
    margin-left: -50px;
  }
  
}
@media only screen and (min-device-width:321px) and (max-device-width: 480px){
  .button-1 {
    padding: .5rem 1.5rem;
  }
  .btn{
    position: relative;
    left:22%;
  }
  .page-top-banner h1{
    font-size: 30px;
    font-weight: bold;
  }
  #about-section ul{
    margin-left: -80px;
  }
  .mat-expansion-panel-header-title{
    font-size: 16px;
  }
  #text-head{
    font-size: 24px;
  }
  #agenda-head{
    font-size: 24px;
  }
  #faq-head{
    font-size: 24px;
  }
  
}
@media only screen and (max-width:320px) {
  .button-1 {
    padding: .5rem 1.5rem;
  }
  .btn{
    position: relative;
    left:50px;
  }
  .page-top-banner h1{
    font-size: 30px;
    font-weight: bold;
    margin:0px;
  }
  #about-section ul{
    margin-left: -70px;
  }
  .mat-expansion-panel-header-title{
    font-size: 16px;
  }
  #text-head{
    font-size: 20px;
  }
  #agenda-head{
    font-size: 24px;
  }
  #faq-head{
    font-size: 20px;
  }
}

