<!-- Start event-carousel section -->
<section class="carousel-section section-gap-full" id="carousel-section">
    <h1 class="text-center" >EVENTS</h1>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 carousel-right">
                
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="card">
                            <div class="card-header">
                              <img src="/assets/img/dcw-card.jpeg" alt="dcw" />
                            </div>
                            <div class="card-body">
                              
                              <h4>
                                Digital Teaching Techniques
                              </h4>
                              <p>
                                This niche short-term certificate course will enable the faculty members to integrate online technologies into teaching and make the challenging activity into something simple by helping choose ethically appropriate digital pedagogy and benefit both students and teachers to achieve excellence in learning
                              </p>
                              <span routerLink="/LandingPage/dcw-registration" class="tag tag-teal">Register Now</span>
                            </div>
                          </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="card">
                            <div class="card-header">
                              <img src="/assets/img/rpa-card.jpeg" alt="rpa" />
                            </div>
                            <div class="card-body">
                              
                              <h4>
                                ROBOTIC PROCESS AUTOMATION
                              </h4>
                              <p>
                                RPA becomes smarter in the future, it will deliver even more benefits to enterprises and their customers and workforces. 
                              </p>
                              <span routerLink="/LandingPage/rpa-registration" class="tag tag-teal">Register Now</span>
                            </div>
                          </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="card">
                            <div class="card-header">
                              <img src="/assets/img/mlai-card.jpeg" alt="mlai" />
                            </div>
                            <div class="card-body">
                              
                              <h4>
                                ML \ AI
                              </h4>
                              <p>
                                ICTAK Virtual Internship introduces several fundamental concepts and methods for Machine Learning and Artificial Intelligence. The objective is to familiarize the participants with some basic learning algorithms & techniques and their applications by which they can gain a practical insight about the work
                              </p>
                              <span routerLink="/LandingPage/mlai-registration" class="tag tag-teal">Register Now</span>
                            </div>
                          </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="card">
                            <div class="card-header">
                              <img src="/assets/img/sfdc-card.png" alt="sfdc" />
                            </div>
                            <div class="card-body">
                              
                              <h4>
                                Salesforce Developer course
                              </h4>
                              <p>
                                Salesforce Developer course is a technology training program facilitated by ICT Academy of Kerala in association with Salesforce inc., that will be of high industry relevance in the present and coming years.
                              </p>
                              <span routerLink="/LandingPage/sfdc-registration" class="tag tag-teal">Register Now</span>
                            </div>
                          </div>
                    </ng-template>  
                    
                </owl-carousel-o>
          </div>
        </div>
    </div>
</section>
<!-- End carousel section -->

