
<head>
	

	<!-- Bootstrap & Styles -->
	
	
    <link href="/assets/css/corporate.css" rel="stylesheet">

	
	
</head>

<body>

   <section class="corper">
	  <div>
	<h2 class="newhd section-title " >Corporate Membership</h2>
	<br>
	<p class="newpar">	 ICT Academy of Kerala is pleased to offer ‘ICTAK Corporate Membership’ to a select set of leading organizations in the country. Through this membership, ICTAK would like to unlock the value of a Corporate – Academia collaboration through its wide network of corporate and academic partners.</p>
	<div class="btnew">
		<a class="primary-btn" href="/LandingPage/corporateform" >Get Started</a>
	</div>
</div>
   </section>

	<!--  Features -->
	
	<section class="section_sapce text-center" style="padding-top: 5%;">
		<div class="row text-center" >
			<div class="container">
				<div class="section-title margin-b30">
					<h3> Why Choose Us ?</h3>
                </div>
			</div>
		</div>
        <div class="col-lg-12">
            <div class="row features-wrap">
                <div class="col-md-6">
                    <div class="single-feature relative">
                        <div class="overlay overlay-bg"></div>
                        <span class="ti-comments-smiley"></span>
                        <h3><i class="fa fa-users fa-3x "></i></h3>
                        <h3>Collaborate</h3>
                        <p>
                            Collaborate with the flagship skills development organization in the state
                            supported Govt. of India and partnered by Govt. of Kerala.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-feature relative">
                        <div class="overlay overlay-bg"></div>
                        <span class="ti-light-bulb"></span>
                        <h3><i class="fa fa-handshake fa-3x "></i></h3>
                        <h3>Interactions</h3>
                        <p>
                            His many legs, pitifully thin compared with the size of the rest of him, waved
                            about helplessly as he looked.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-feature relative">
                        <div class="overlay overlay-bg"></div>
                        <span class="ti-pencil-alt"></span>
                        <h3><i class="fa fa-school fa-3x "></i></h3>
                        <h3>Corporate Training Benefits</h3>
                        <p>
                            Participate in our corporate trainings and workshops at ‘Member rates’ (up
                            to
                            20% discount)
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-feature relative">
                        <div class="overlay overlay-bg"></div>
                        <span class="ti-import"></span>
                        <h3><i class="fa fa-briefcase fa-3x "></i></h3>
                        <h3>Recruitments</h3>
                        <p>
                            Access to ICT Academy trained pool of candidates for your manpower
                            requirements.
                        </p>
                    </div>
                </div>
            </div>
        </div>
	</section>

	<!-- End of Features -->

<div class="col-lg-12">    
    <section class="stat-section section-gap-half">
        <div>
            <h3 style="text-align: center;color:white;padding-bottom: 10%;">
                Number of candidates trained on various skills in FY 20-21                
            </h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <div class="single-stat">
                        <i class="ti-thumb-up"></i>
                        <h1>
                            <span class="counter"><div  data-target="60000">{{rpa}}</div></span></h1>
                        <h4>Robotic Process Automation</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <div class="single-stat">
                        <i class="ti-face-smile"></i>
                        <h1>
                            <span class="counter"><div  data-target="60000">{{fsd}}</div></span></h1>
                        <h4>Full Stack Development</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <div class="single-stat">
                        <i class="ti-paint-bucket"></i>
                        <h1>
                            <span class="counter"><div  data-target="60000">{{dts}}</div></span></h1>
                        <h4>Data Science and Analytics</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <div class="single-stat">
                        <i class="ti-check-box"></i>
                        <h1>
                            <span class="counter"><div  data-target="60000">{{dm}}</div></span></h1>
                        <h4>Digital Marketing</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

    


    <section class="corpernew col-lg-12">
        <div>
      <h2 class="newhd section-title " >Commercial and validity period</h2>
      <br>
      <p class="newpar">	 The industry membership programme will be offered based on an internal accreditation process and shall be valid for three years. The membership will be free for selected industry partners..</p>
    
  </div>
     </section>


	<!--APPS Downloads -->
	<section class="container-fluid partnerdemo section_sapce section-parallax parallax  apps-download" >
        <div class="container ">
            <div class="row">
                <div style="text-align: center;">
                	<h3 style="padding-bottom: 5%;"> Meet our Technology Partners </h3>
                </div>
                <div class="text-center relative">
                	
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Salesforce.com_logo.svg/2560px-Salesforce.com_logo.svg.png"  class="col-lg-2 col-md-3 col-sm-4 col-4" style="margin-top:2%">
					
                    <img src="https://thycotic.com/wp-content/uploads/2020/09/automation_anywhere.png"  class="col-lg-2 col-md-3 col-sm-5 col-4" style="margin-top:2%">
					<img src="https://www.freepnglogos.com/uploads/microsoft-logo-png-transparent-20.png"  class="col-lg-2 col-md-3 col-sm-5 col-4" style="margin-top:2%">
                <img src="https://images.ctfassets.net/5965pury2lcm/1OVj4PfkzVc4Vrm3IuDdAP/f415d995e5a286ddb2644cabafeb9578/UiPath-og-image-orange.png" class="col-lg-2 col-md-3 col-sm-5 col-4" style="margin-top:2%">
				<img src="https://www.freepnglogos.com/uploads/vmware-png-logo/partners-login-vmware-png-logo-10.png"  class="col-lg-2 col-md-3 col-sm-5 col-4" style="margin-top:5%">
			<img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-sva-scholarship-20.png"  class="col-lg-2 col-md-3 col-sm-5 col-4" style="margin-top:5%">	
            <img src="https://download.logo.wine/logo/Oracle_Corporation/Oracle_Corporation-Logo.wine.png"  class="col-lg-2 col-md-3 col-sm-5 col-4" style="margin-top:0%">	  	

			</div>
            </div>
        </div>
	</section>
    <!--End of APPS Downloads -->


    <!--  Footer -->
	
    <!--  End of Footer -->


    <!--  Back to Top -->
   

    <!--  Scripts -->
	

	
</body>

