
<head>
	

	<!-- Bootstrap & Styles -->
	
	<link href="/assets/css/bootstrap.css" rel="stylesheet">

	<link href="/assets/css/responsive.css" rel="stylesheet" />
	
</head>

<body>

   <section class="corper">
	  <div>
	<h2 class="newhd section-title " >Corporate Membership</h2>
	<br>
	<h4 class="newpar">	 ICT Academy of Kerala is pleased to offer ‘ICTAK Corporate Membership’ to a select set of leading organizations in the country. Through this membership, ICTAK would like to unlock the value of a Corporate – Academia collaboration through its wide network of corporate and academic partners.</h4>
	<div class="btnew">
		<button class="btn btn-success ">Get Started</button>
	</div>
</div>
   </section>

	<!--  Features -->
	
	<section class="section_sapce text-center">
		<div class="row text-center" >
			<div class="container">
				<div class="section-title margin-b30">
					<h2><span>Welcome to ICT Academy</span> Why Choose Us ?</h2>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="container">
            	<div class="col-lg-3  margin-t30 benefitsbox">
                    <div class="text-center">
                        <i class="fa fa-users fa-3x text_primary square-border-icon"></i>
                        <h4 style="font-weight:bold;color:green">Collaborate</h4>
                         <p>Collaborate with the flagship skills development organization in the state
                            supported Govt. of India and partnered by Govt. of Kerala.</p>
                    </div>
                </div>
				<div class="col-lg-3  margin-t30 benefitsbox">
                    <div class="text-center">
                        <i class="fa fa-handshake fa-3x text_primary square-border-icon"></i>
                        <h4 style="font-weight:bold;color:green">Interactions</h4>
                         <p style="justify-content: center;">Access to over hundred Engineering and Non-engineering educational
                            institutions in the state of Kerala for campus recruitment/internships and for
                            collaborative
                            research with Academia.</p>
                    </div>
                </div>
				<div class="col-lg-3  margin-t30 benefitsbox ">
                    <div class="text-center">
                        <i class="fa fa-school fa-3x text_primary square-border-icon"></i>
						<br>
                        <h4 style="font-weight:bold;color:green">Corporate Training Benefits</h4>
                         <p>Participate in our corporate trainings and workshops at ‘Member rates’ (up
                            to
                            20% discount)</p>
                    </div>
                </div>
				<div class="col-lg-3  margin-t30 benefitsbox">
                    <div class="text-center">
                        <i class="fa fa-briefcase fa-3x text_primary square-border-icon"></i>
                        <h4 style="font-weight:bold;color:green">Recruitments</h4>
                         <p>Access to ICT Academy trained pool of candidates for your manpower
                            requirements.</p>
                    </div>
                </div>
			</div>
		</div>
	</section>

	<!-- End of Features -->

	<!--  Call to Action -->

	<!-- End of Call to Action -->

	<!--  Pricing Tables -->

	<!-- End of Pricing Tables -->




	<!--  Subscribe -->

    <!--  End of Subscribe -->

	<!--  Statistics -->
	
	<!-- End of Statistics -->

	<!-- Testimonials -->
	
	<!-- End of Testimonials -->



    <!-- Counter Area Start -->
	<div class="counter">
	<div class="section-title ">
		<h2 class="text-white">Number of candidates trained on various skills in FY 20-21</h2>
	</div>
    <section class=" container-fluid  section_sapce ">
       
		<div class="container-fluid ">
			
		
            <div class="row">
                <div class="col-lg-3 ">
                    <!-- Counter Item Start -->
					
						<i class="fa fa-robot fa-3x text_success square-border-icon"></i>
						<div class="counter-holder margin-top-15">
							<p class="counter-text  text_white">Robotic Process Automation</p>
							<div style="color:white;font-size:xx-large;" data-target="60000">{{rpa}}</div><br>
						
					</div>
                   
                    <!-- Counter Item End -->
                </div>

                <div class="col-lg-3 ">
                    <!-- Counter Item Start -->
					<i class="fa fa-laptop-code fa-3x text_success square-border-icon"></i>
					<div class="counter-holder margin-top-15">
						<p class="counter-text  text_white">Full Stack Development</p>
						<div style="color:white;font-size:xx-large;" data-target="60000">{{fsd}}</div><br>
					
				</div>
                    <!-- Counter Item End -->
                </div>

                <div class=" col-lg-3 ">
                    <!-- Counter Item Start -->
                	<i class="fa fa-database fa-3x text_success square-border-icon"></i>
						<div class="counter-holder margin-top-15">
							<p class="counter-text  text_white">Data Science and Analytics</p>
							<div style="color:white;font-size:xx-large;" data-target="60000">{{dts}}</div><br>
						
					</div>
                    <!-- Counter Item End -->
                </div>

                <div class="col-lg-3 ">
                    <!-- Counter Item Start -->
                	<i class="fa fa-chart-bar fa-3x text_success square-border-icon"></i>
						<div class="counter-holder margin-top-15">
							<p class="counter-text  text_white">Digital Marketing</p>
							
							<div style="color:white;font-size: xx-large;" data-target="60000">{{dm}}</div><br>
							
					</div>
                    <!-- Counter Item End -->
                </div>
            </div>
        </div>
    </section>
</div>
    <!-- Counter Area End -->


    <!--Extra Info -->
	
    <!--End of Extra Info -->



    <!--Service Icons -->

    <!--End of Service Icons -->


	<!--APPS Downloads -->
	<section class="container-fluid partnerdemo section_sapce section-parallax parallax  apps-download" >
        <div class="container ">
            <div class="row">
                <div class="section-title  margin-b50">
                	<h2> Meet our Technology Partners </h2>
                </div>
                <div class="text-center relative">
                	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Salesforce.com_logo.svg/2560px-Salesforce.com_logo.svg.png" style="height:100px;width:100px;margin-left: 5%;">
					<img src="https://thycotic.com/wp-content/uploads/2020/09/automation_anywhere.png" style="height:100px;width:100px;margin-left: 5%;">
					<img src="https://www.freepnglogos.com/uploads/microsoft-logo-png-transparent-20.png" style="height:100px;width:100px;margin-left: 5%;">
                <img src="https://images.ctfassets.net/5965pury2lcm/1OVj4PfkzVc4Vrm3IuDdAP/f415d995e5a286ddb2644cabafeb9578/UiPath-og-image-orange.png" style="height:100px;width:100px;margin-left: 5%;">
				<img src="https://www.freepnglogos.com/uploads/vmware-png-logo/partners-login-vmware-png-logo-10.png" style="height:100px;width:100px;margin-left: 5%;">
			<img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-sva-scholarship-20.png" style="height:100px;width:100px;margin-left: 5%;">	
			</div>
            </div>
        </div>
	</section>
    <!--End of APPS Downloads -->


    <!--  Footer -->
	
    <!--  End of Footer -->


    <!--  Back to Top -->
   

    <!--  Scripts -->
	

	
</body>

