<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>CERTIFIED SPECIALIST IN FULL STACK DEVELOPMENT USING MEAN</h2>

                        <p><a routerLink="/" class="breadcrmbclr"> Home</a><span>/</span><a  class="breadcrmbclr" routerLink="/LandingPage/courses"> Courses</a><span>/</span><span class="text-info" style="font-size: 0.9rem;">Course details</span></p>
                        
                    </div>
					
                </div>
            </div>
        </div>
		<!-- btn start -->
	<button routerLink="/LandingPage/registration"class="btn third"  data-aos="zoom-in" data-aos-duration="2000">APPLY NOW</button>
		<!-- btn end -->
    </div>
</section>
<!-- breadcrumb start-->



	<!-- Course Head section -->
	
	<!-- Inner Page Breadcrumb -->

	<!-- Our Team Members -->
	<section class="course-single2 pb40">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-8 col-xl-9">
					<div class="row">
						<div class="col-lg-12">
							<div class="courses_single_container">
								<div class="cs_row_one">
									<div class="cs_ins_container">
										<div class="courses_big_thumb">

										</div>
									</div>
								</div>
								<div class="cs_rwo_tabs csv2">
									<ul class="nav nav-tabs" id="myTab" role="tablist"  data-aos="fade-up" data-aos-duration="1000">
										<li class="nav-item" role="presentation">
										    <a class="nav-link active" id="Overview-tab" data-bs-toggle="tab" href="#Overview" role="tab" aria-controls="Overview" aria-selected="true">Overview</a>
										</li>
										<li class="nav-item">
										    <a class="nav-link" id="course-tab" data-bs-toggle="tab" href="#course" role="tab" aria-controls="course" aria-selected="false">Aptitude test</a>
										</li>
										<li class="nav-item">
										    <a class="nav-link" id="instructor-tab" data-bs-toggle="tab" href="#instructor" role="tab" aria-controls="instructor" aria-selected="false">Eligibility​</a>
										</li>
										<li class="nav-item">
										    <a class="nav-link" id="review-tab" data-bs-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Agenda</a>
										</li>
									</ul>
									<div class="tab-content" id="myTabContent">
										<div class="tab-pane fade show active" id="Overview" role="tabpanel" aria-labelledby="Overview-tab">
											<div class="cs_row_two csv2">
												<div class="cs_overview">
													<!-- <h4 class="title">Overview</h4> -->
													<h4 class="subtitle">Course Description</h4>
													<p class="mb30">Software testing is the art of investigating software to ensure that its quality is in line with the requirement of the
														client. Professionally trained software testers are in great demand nowadays and are sought after in the industry.
														The profile of the software tester has seen phenomenal growth. From being a test engineer, one can grow to become a senior test engineer, from a test lead to a test manager; or alternatively, one can become a QA lead or QA Manager. Moreover, the options available on the testing tools side are vast. </p>
													<!-- <p class="mb20">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> -->
													<h4 class="subtitle">Objectives</h4>
													<ul class="cs_course_syslebus">
														<li><i class="fa fa-check"></i><p>Know the basics of SDLC</p></li>
														<li><i class="fa fa-check"></i><p>Familiarize with Software Testing Life Cycle</p></li>
														<li><i class="fa fa-check"></i><p>Understand the roles and responsibilities in testing.</p></li>
														<li><i class="fa fa-check"></i><p>Learn how to design,write and manage test cases.</p></li>
														<li><i class="fa fa-check"></i><p>Learn how to do Functional and Non-functional Testing of a software product.</p></li>
													</ul>
													<ul class="cs_course_syslebus2">
														<li><i class="fa fa-check"></i><p>Understand how to use Selenium Webdriver for automation testing.</p></li>
														<li><i class="fa fa-check"></i><p>Understand the basics of automation testing.</p></li>
														<!-- <li><i class="fa fa-check"></i><p>Prototype your designs with interactions.</p></li>
														<li><i class="fa fa-check"></i><p>Export production ready assets.</p></li>
														<li><i class="fa fa-check"></i><p>All the techniques used by UX professionals</p></li> -->
													</ul>
													<h4 class="subtitle">Requirements</h4>
													<ul class="list_requiremetn">
														<li><i class="fa fa-circle"></i><p>You will need a copy of Adobe XD 2019 or above. A free trial can be downloaded from Adobe.</p></li>
														<li><i class="fa fa-circle"></i><p>No previous design experience is needed.</p></li>
														<li><i class="fa fa-circle"></i><p>No previous Adobe XD skills are needed.</p></li>
													</ul>
												</div>
											</div>
										</div>


                






										<div class="tab-pane fade" id="course" role="tabpanel" aria-labelledby="review-tab">
											<div class="cs_row_three csv2">
												<div class="course_content">
													<!-- <div class="cc_headers"> -->
														<!-- <h4 class="title text-center">COURSE HIGHLIGHTS</h4> -->
														<!-- <ul class="course_schdule float-right">
															<li class="list-inline-item"><a href="#">92 Lectures</a></li>
															<li class="list-inline-item"><a href="#">10:56:11</a></li>
														</ul> -->
													<!-- </div> -->
													<!-- <br> -->
													<div id="some-box" >
														<h1 class="title text-center">General Aptitude Test </h1>
														<h3 class="apti" ><i class="fas fa-graduation-cap text-primary"></i> Certified Specialist in Full Stack Development</h3>
													  
														  <article class="row" id="idea-one">
															  <div ><img src="/assets/images/learn1.png"></div>
															  <div class="content-area1">
																  <!-- <h3>Certified Specialist in Full Stack Development</h3> -->
																  <h4>NORKA ROOTS Entrance test <br>(60 Questions)</h4>
																  <!-- <p>Here's your descriptive text for your idea to sell people on the thing after the image gets their attention. This type of section looks best when there's enough text to take up most of the height of the adjacent image.</p> -->
																  <ul class="testlist">
																	  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Numerical Ability </li>
																	  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Verbal Ability  </li>
																	  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Logical Reasoning </li>
																	  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Data Interpretation</li>
																  </ul>
																  <a>The Duration of the Test will be 60 mins</a>
															  </div>
														  </article>
													  
													  </div>



							
												</div>
											</div>
										</div>
										<!-- Eligibility​ -->
										<div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="review-tab">
											<div class="cs_row_four csv2">
												<div class="about_ins_container">
													
                                                  <!--  -->
												  <div id="some-box">
													<h1 class="title text-center">Eligibility​</h1>
													<!-- <h3><i class="fas fa-graduation-cap text-primary"></i> Certified Specialist in Full Stack Development</h3> -->
												  
													  <article class="row" id="idea-one">
														  <div><img src="/assets/images/eligibility.png"></div>
														  <div>
															  <!-- <h3>Certified Specialist in Full Stack Development</h3> -->
															  <!-- <h4><u>NORKA ROOTS Entrance test (60 Questions)</u></h4> -->
															  <p class="eligi">Graduates from Engineering/Science or 3Yr-Diploma in any of the engineering branches, having a foundation level knowledge (plus two equivalent) in Mathematics and Computer fundamental skills, can apply for the course.</p>
															  <br>
															  <p class="eligi">Students who have completed their graduation, but awaiting the final results can also apply.</p>
															  <br>
															  <p class="eligi">Please note in case we, ICT Academy of Kerala detect any ineligibility at any stage the candidature will be cancelled accordingly.</p>
												                <br>
																<h2 class="eligiAge">Age Limit  – 56</h2>
															  <!-- <ul class="testlist">
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Numerical Ability </li>
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Verbal Ability  </li>
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Logical Reasoning </li>
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Data Interpretation</li>
															  </ul> -->
															  <!-- <a>The Duration of the Test will be 60 mins</a> -->
														  </div>
													  </article>
												  
												  </div>

												  <!--  -->



												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
											<div class="cs_row_five csv2">
												<div class="student_feedback_container">
												 <!--Agendaaa  -->
												 <div id="some-box">
													<h1 class="title text-center">What you'll learn</h1>
													<!-- <h3><i class="fas fa-graduation-cap text-primary"></i> Certified Specialist in Full Stack Development</h3> -->
												  
													  <article class="row" id="idea-one">
														  <div class="mt-4"><img src="/assets/images/whatyoulearn.png"></div>
														  <div>
															  <!-- <h3>Certified Specialist in Full Stack Development</h3> -->
															  <!-- <h4><u>NORKA ROOTS Entrance test (60 Questions)</u></h4> -->
															  <ul class="testlist2">
																<li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Introduction to MERN Stack </li>
																<li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Learn HTML5/CSS3 & Bootstrap Fundamentals</li>
																<li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Programming with JavaScript</li>
																<li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Server-side programming with Node JS</li>
																<li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Express JS Essentials</li>
																<li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Code with Mongo DB</li>
																<li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Front-end development using Angular JS</li>
																<li><i class="fas fa-feather-alt text-primary"></i>&nbsp; MEAN Application Deployment</li>
															</ul>
															  <!-- <ul class="testlist">
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Numerical Ability </li>
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Verbal Ability  </li>
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Logical Reasoning </li>
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Data Interpretation</li>
															  </ul> -->
															  <!-- <a>The Duration of the Test will be 60 mins</a> -->
														  </div>
													  </article>
												  
												  </div>

												  <!--Agenda end  -->	

                                                  



											
												</div>
											</div>
										
											<div class="cs_row_seven csv2">
												<div class="sfeedbacks">
													<div class="mbp_comment_form style2 pb0">
														<h4>Add Reviews & Rate</h4>
														<ul>
															<li class="list-inline-item pr15"><p>What is it like to Course?</p></li>
															<li class="list-inline-item">
																<span class="sspd_review">
																	<ul>
																		<li class="list-inline-item"><a href="#"><i class="fa fa-star fz18"></i></a></li>
																		<li class="list-inline-item"><a href="#"><i class="fa fa-star fz18"></i></a></li>
																		<li class="list-inline-item"><a href="#"><i class="fa fa-star fz18"></i></a></li>
																		<li class="list-inline-item"><a href="#"><i class="fa fa-star fz18"></i></a></li>
																		<li class="list-inline-item"><a href="#"><i class="fa fa-star fz18"></i></a></li>
																		<li class="list-inline-item"></li>
																	</ul>
																</span>
															</li>
														</ul>
														<form class="comments_form">
															<div class="form-group">
														    	<label for="exampleInputName1">Review Title</label>
														    	<input type="text" class="form-control" id="exampleInputName1" aria-describedby="textHelp">
															</div>
															<div class="form-group">
															    <label for="exampleFormControlTextarea1">Review Content</label>
															    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
															</div>
															<button type="submit" class="btn btn-thm">Submit Review <span class="flaticon-right-arrow-1"></span></button>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					   

					                <!-- partner section -->

	   <section class="features11 cid-qKT4DS5cTb" data-aos="fade-left" data-aos-duration="1500" id="features11-1g">

		<div class="container">
			<h2 class="mbr-fonts-style mbr-section-title align-center mbr-light display-2 mb-1" >Our Partners</h2>
			<!-- <h3 class="mbr-fonts-style mbr-section-subtitle align-center mbr-light pt-3 display-7">Lorem ipsum dolor amet, consecte tempor incididunt</h3> -->
			<div class="row justify-content-center pt-4">
				<div class="col-md-6 col-lg-3 row-item">
					<div class="wrapper">
						<div class="card-img pb-3 align-center">
							<span class="mbr-iconfont "><img class="partimg" src="../../../../assets/images/partner1.png" alt=""></span>
						</div>
						<h4 class="mbr-fonts-style mbr-card-title align-center display-7">Course Delivery</h4>
					</div>
				</div>
	
				<div class="col-md-6 col-lg-3 row-item">
					<div class="wrapper">
						<div class="card-img pb-3 align-center">
							<span class="mbr-iconfont "><img class="partimg" src="/assets/images/partner2.png" alt=""></span>
						</div>
						<h4 class="mbr-fonts-style mbr-card-title align-center display-7">Knowledge Partner</h4>
					</div>
				</div>
	
				<div class="col-md-6 col-lg-3 row-item">
					<div class="wrapper">
						<div class="card-img pb-3 align-center">
							<span class="mbr-iconfont "><img class="partimg" src="/assets/images/partner3.png" alt=""></span>
						</div>
						<h4 class="mbr-fonts-style mbr-card-title align-center display-7">Internship Partner</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- partner section end -->






                        <!-- Section: Course Highlights -->
    <section class="text-center bg-silver-light "   data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
		<div class="container pb-70 pb-sm-60">
		  <div class="section-title">
			<div class="row">
			  <div class="col-md-8 col-md-offset-2">
				<h2 class="text-center line-height-1 mt-0" data-aos="zoom-in">Course Highlights</h2>
				<!-- <p class="text-center">Lorem ipsum dolor simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p> -->
			  </div>
			</div>
		  </div>
		  <div class="section-content">
			<div class="row equal-height">
			  <div class="col-sm-4">
				<div class="icon-box iconbox-theme-colored">
				  <a class="icon icon-dark icon-bordered icon-rounded icon-border-effect effect-rounded mb-10" href="#">
					<i class="fas fa-female"></i>
				  </a>
				  <!-- <h4 class="icon-box-title">Cafeteria</h4> -->
				  <p class="text-gray">100% SCHOLARSHIP FOR FEMALE CANDIDATES</p>
				</div>
			  </div>
			  <div class="col-sm-4">
				<div class="icon-box iconbox-theme-colored">
				  <a class="icon icon-dark icon-bordered icon-rounded icon-border-effect effect-rounded mb-10" href="#">
					<i class="fas fa-male"></i>

				  </a>
				  <!-- <h4 class="icon-box-title">Best Teachers</h4> -->
				  <p class="text-gray">70% SCHOLARSHIP FOR MALE CANDIDATES</p>
				</div>
			  </div>
			  <div class="col-sm-4">
				<div class="icon-box iconbox-theme-colored">
				  <a class="icon icon-dark icon-bordered icon-rounded icon-border-effect effect-rounded mb-10" href="#">
					<i class="fa fa-laptop"></i>
				  </a>
				  <!-- <h4 class="icon-box-title">Excellent Lab</h4> -->
				  <p class="text-gray">100% PLACEMENT ASSISTANCE GUARANTEE*</p>
				</div>
			  </div>
			  <div class="col-sm-4">
				<div class="icon-box iconbox-theme-colored">
				  <a class="icon icon-dark icon-bordered icon-rounded icon-border-effect effect-rounded mb-10" href="#">
					<i class="fab fa-leanpub"></i>
				  </a>
				  <!-- <h4 class="icon-box-title">Large Library</h4> -->
				  <p class="text-gray">TRAINING METHODOLOGY USING PERL MODEL</p>
				</div>
			  </div>
			  <div class="col-sm-4">
				<div class="icon-box iconbox-theme-colored">
				  <a class="icon icon-dark icon-bordered icon-rounded icon-border-effect effect-rounded mb-10" href="#">
					<i class="fab fa-linkedin"></i>
				  </a>
				  <!-- <h4 class="icon-box-title">Transport Facility</h4> -->
				  <p class="text-gray">ACCESS TO LINKEDIN LEARNING WITH 14,000 COURSES</p>
				</div>
			  </div>
			  <div class="col-sm-4">
				<div class="icon-box iconbox-theme-colored">
				  <a class="icon icon-dark icon-bordered icon-rounded icon-border-effect effect-rounded mb-10" href="#">
					<i class="fas fa-server"></i>
				  </a>
				  <!-- <h4 class="icon-box-title">Internet Centre</h4> -->
				  <p class="text-gray">125 HRS VIRTUAL INTERNSHIP WITH TCS ION</p>
				</div>
			  </div>
			  <div class="col-sm-4">
				<div class="icon-box iconbox-theme-colored">
				  <a class="icon icon-dark icon-bordered icon-rounded icon-border-effect effect-rounded mb-10" href="#">
					<i class="fab fa-aws"></i>
				  </a>
				  <!-- <h4 class="icon-box-title">Internet Centre</h4> -->
				  <p class="text-gray">AVAILABILITY OF BADGES FROM AWS</p>
				</div>
			  </div>
			  <div class="col-sm-4">
				<div class="icon-box iconbox-theme-colored">
				  <a class="icon icon-dark icon-bordered icon-rounded icon-border-effect effect-rounded mb-10" href="#">
					<i class="fas fa-award"></i>
				  </a>
				  <!-- <h4 class="icon-box-title">Internet Centre</h4> -->
				  <p class="text-gray">INDUSTRY GRADE CERTIFICATION</p>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
                        
             <!-- Course Highlights End -->



                              <!-- Course Fee -->

                                          <!--  -->
												  <div id="some-box" class="coursefeebox" >
													<h1 class="title text-center">Course fee</h1>
													<!-- <h3><i class="fas fa-graduation-cap text-primary"></i> Certified Specialist in Full Stack Development</h3> -->
												  
													  <article class="row" id="idea-one">
														  <div data-aos="fade-left" data-aos-duration="1000"  data-aos-offset="300"  data-aos-easing="ease-in-sine"><img src="/assets/images/fee.png"></div>
														  <div>
															  <h3 class="coursebtn">Price ₹19,700 + GST</h3>
															  <!-- <h4><u>NORKA ROOTS Entrance test (60 Questions)</u></h4> -->
															  <!-- <p>Graduates from Engineering/Science or 3Yr-Diploma in any of the engineering branches, having a foundation level knowledge (plus two equivalent) in Mathematics and Computer fundamental skills, can apply for the course.</p> -->
															  <br>
															  <p class="coursep">Zero cost EMI for 6 months is available from the partner finance company.The disbursement of zero cost is subject to the approval of our finance partner named Finance Peer.</p>
															  <!-- <br> -->
															  <!-- <p>Please note in case we, ICT Academy of Kerala detect any ineligibility at any stage the candidature will be cancelled accordingly.</p> -->
												                <!-- <br>
																<h2>Age Limit  – 56</h2> -->
															  <!-- <ul class="testlist">
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Numerical Ability </li>
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Verbal Ability  </li>
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Logical Reasoning </li>
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Data Interpretation</li>
															  </ul> -->
															  <!-- <a>The Duration of the Test will be 60 mins</a> -->
														  </div>
													  </article>
												  
												  </div>

												  <!--  -->
							  <!-- Course Fee end -->


                                       <!-- Important Dates -->

                                          
												  <div id="some-box" class="coursefeebox imp" >
													<h1 class="title text-center text-primary" data-aos="fade-up" data-aos-anchor-placement="top-center">Important Dates</h1>
													<!-- <h3><i class="fas fa-graduation-cap text-primary"></i> Certified Specialist in Full Stack Development</h3> -->
												  
													  <article class="row impsec" id="idea-one ">
														  <div class="impimg" data-aos="fade-right" data-aos-duration="1000"  data-aos-offset="300"  data-aos-easing="ease-in-sine"><img src="/assets/images/impdate.png"></div>
														  <div>
															  <h3>Last Date of Registration :  5th January 2022</h3>
															  <br>
                                                               <h3>Date of Entrance Test :  16th January 2022</h3>
															   <br>
															   <h3>Date of course orientation : 23rd January 2022</h3>
															   <br>
															   <h3>Date of Batch Commencement : 27th January 2022</h3>
															  <!-- <h4><u>NORKA ROOTS Entrance test (60 Questions)</u></h4> -->
															  <!-- <p>Graduates from Engineering/Science or 3Yr-Diploma in any of the engineering branches, having a foundation level knowledge (plus two equivalent) in Mathematics and Computer fundamental skills, can apply for the course.</p> -->
															  <!-- <br> -->
															  <!-- <p class="coursep">Zero cost EMI for 6 months is available from the partner finance company.The disbursement of zero cost is subject to the approval of our finance partner named Finance Peer.</p> -->
															  <!-- <br> -->
															  <!-- <p>Please note in case we, ICT Academy of Kerala detect any ineligibility at any stage the candidature will be cancelled accordingly.</p> -->
												                <!-- <br>
																<h2>Age Limit  – 56</h2> -->
															  <!-- <ul class="testlist">
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Numerical Ability </li>
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Verbal Ability  </li>
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Logical Reasoning </li>
																  <li><i class="fas fa-feather-alt text-primary"></i>&nbsp; Data Interpretation</li>
															  </ul> -->
															  <!-- <a>The Duration of the Test will be 60 mins</a> -->
														  </div>
													  </article>
												  
												  </div>

												  <!--  -->
							  <!-- Important Dates  end -->

                              <!-- Testimonial Start -->
        <div id="rs-testimonial" class="rs-testimonial bg5 sec-spacer" >
			
			<div class="container">
				<div class="sec-title mb-50 text-center" >
					<h1 class="white-color text-white p-2" >"What our students say!"</h1>      
					<!-- <p class="white-color text-white">Fusce sem dolor, interdum in efficitur at, faucibus nec lorem. Sed nec molestie justo.</p> -->
				</div>


				<div >   
				<div class="row" >
			        <div class="col-md-12">
						
						<div  class="rs-carousel" >
							<owl-carousel-o [options]="testinomialSlider" >
								<!-- <ng-template carouselSlide>
			                <div class="testimonial-item">
			                    <div class="testi-img">
			                        <img src="{{testi.image}}" alt="Jhon Smith" >
			                    </div>
			                    <div class="testi-desc">
			                        <h4 class="testi-name">{{testi.name}}</h4>
			                        <p>
			                            {{testi.comment}}
			                        </p>
			                    </div>
			                </div>
						</ng-template> -->
						<ng-template carouselSlide>
					        <div class="testimonial-item">
					            <div class="testi-img">
					                <img src="/assets/images/course/testi1.png" alt="Jhon Smith">
					            </div>
					            <div class="testi-desc">
					                <h4 class="testi-name">Aliana D’suza</h4>
					                <p>
					                    Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
					                </p>
					            </div>
					        </div>
							</ng-template>
							<ng-template carouselSlide>
					        <div class="testimonial-item">
					            <div class="testi-img">
					                <img src="/assets/images/course/testi2.png" alt="Jhon Smith">
					            </div>
					            <div class="testi-desc">
					                <h4 class="testi-name">Aliana D’suza</h4>
					                <p>
					                    Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
					                </p>
					            </div>
					        </div>
							</ng-template>
							<ng-template carouselSlide>
					        <div class="testimonial-item">
					            <div class="testi-img">
					                <img src="/assets/images/course/testi3.png" alt="Jhon Smith">
					            </div>
					            <div class="testi-desc">
					                <h4 class="testi-name">Aliana D’suza</h4>
					                <p>
					                    Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
					                </p>
					            </div>
					        </div>
							</ng-template>
							<ng-template carouselSlide>
					        <div class="testimonial-item">
					            <div class="testi-img">
					                <img src="/assets/images/course/testi4.png" alt="Jhon Smith">
					            </div>
					            <div class="testi-desc">
					                <h4 class="testi-name">Aliana D’suza</h4>
					                <p>
					                    Tempor non elit nec augue nec gravida et sed velit. Aliquam tempus eget lorem ut malesuada. Phasellus dictum est sed libero posuere dignissim.
					                </p>
					            </div>
					        </div>
							</ng-template>
						</owl-carousel-o>
			            </div>
					
			        </div>
			    </div>
			</div>
		</div>
        </div>
        <!-- Testimonial End -->

               <!-- slider sample -->
			   <!-- <owl-carousel-o [options]="testinomialSlider">
				<ng-template carouselSlide>Slide 1<img src="https://martech.org/wp-content/uploads/2016/04/ss-rating-review-stars.jpg" alt="Jhon Smith"></ng-template>  
				<ng-template carouselSlide>Slide 2<img src="https://martech.org/wp-content/uploads/2016/04/ss-rating-review-stars.jpg" alt="Jhon Smith"></ng-template>  
				<ng-template carouselSlide>Slide 3<img src="https://martech.org/wp-content/uploads/2016/04/ss-rating-review-stars.jpg" alt="Jhon Smith"></ng-template>
				<ng-template carouselSlide>Slide 3<img src="https://martech.org/wp-content/uploads/2016/04/ss-rating-review-stars.jpg" alt="Jhon Smith"></ng-template> 
				<ng-template carouselSlide>Slide 3<img src="https://martech.org/wp-content/uploads/2016/04/ss-rating-review-stars.jpg" alt="Jhon Smith"></ng-template> 
				<ng-template carouselSlide>Slide 3<img src="https://martech.org/wp-content/uploads/2016/04/ss-rating-review-stars.jpg" alt="Jhon Smith"></ng-template>   
			  </owl-carousel-o> -->

			   <!-- slider end -->







             
					<!-- Related course -->
					
					<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h3 class="r_course_title pt-4">Related Courses</h3>
						</div>
						<div class="col-lg-6 col-xl-4 pt-4">
							<div class="top_courses">
								<!--  -->
							
								<div class="single-item" >
									<div class="single-item-image overlay-effect">
										<a routerLink="/LandingPage/single-course"><img src="/assets/images/bg-8.jpg" alt=""></a>
									</div>
									<div class="single-item-text">
										<h4><a routerLink="/LandingPage/single-course">CERTIFIED SPECIALIST IN FULL STACK DEVELOPMENT</a></h4>
										<div class="single-item-text-info">
											<!-- <span>By: <span>M S Nawaz</span></span> -->
											<span>Date: <span>20.5.15</span></span>
										</div>
										<p>The MERN stack is an excellent choice for web developers who wish to develop high-quality web applications using JavaScript. The core technologies define the MERN stack - MongoDB, Express.js, React, and Node.js ,all are based on one language, Javascript.  <span><a href=""> read more</a></span> </p>
										  <span><a routerLink="/LandingPage/single-course"  class="c-details btn ">Course details</a></span>
									</div>
									<div class="button-bottom">
										<a routerLink="/LandingPage/registration" class="button-default" >Register Now</a>
									</div>
								</div>
								

								<!--  -->
							</div>
						</div>
						<div class="col-lg-6 col-xl-4 pt-4">
							<div class="top_courses">
						        <!--  -->
								<div class="single-item">
									<div class="single-item-image overlay-effect">
										<a routerLink="/LandingPage/single-course"><img src="/assets/images/course/2.jpg" alt=""></a>
									</div>
									<div class="single-item-text">
										<h4><a routerLink="/LandingPage/single-course">CERTIFIED SPECIALIST IN DATA SCIENCE & ANALYTICS</a></h4>
										
										<div class="single-item-text-info">
											<!-- <span>By: <span>Subas Das</span></span> -->
											<span>Date: <span>20.5.15</span></span>
										</div>
										
										<p>Data Science and Analytics are amongst the Top 5 IT Jobs . One of the worlds famous tech group, CIO.com predicts that the skills around Data Science will remain as popular for the next few years.  </p>
										<span><a routerLink="/LandingPage/single-course"  class="c-details btn ">Course details</a></span>
									</div>
									<div class="button-bottom">
										<a routerLink="/LandingPage/registration" class="button-default">Register Now</a>
									</div>
								</div>
                                     <!--  -->
							</div>
						</div>
						<div class="col-lg-6 col-xl-4 pt-4">
							<div class="top_courses">
							    
								<!--  -->
								<div class="single-item">
									<div class="single-item-image overlay-effect">
										<a routerLink="/LandingPage/single-course"><img src="/assets/images/course/3.jpg" alt=""></a>
									</div>
									<div class="single-item-text">
										<h4><a routerLink="/LandingPage/single-course">ROBOTIC PROCESS AUTOMATION</a></h4>
									  
									   
										<div class="single-item-text-info">
											<!-- <span>By: <span>Momin Boss</span></span> -->
											<span>Date: <span>20.5.15</span></span>
										</div>
																  
									   <p>Robotic process automation (RPA) is the use of software with artificial intelligence (AI) and machine learning capabilities to handle high-volume, repeatable tasks that previously required humans to perform. </p>
									   <span><a routerLink="/LandingPage/single-course"  class="c-details btn ">Course details</a></span>
					  
									</div>
									<div class="button-bottom">
										<a routerLink="/LandingPage/registration" class="button-default">Register Now</a>
									</div>
								</div>
								<!--  -->
						
							</div>
							
						</div>
					</div>
				</div>
			</div>
						
					<!-- related course end -->
				
			
				<div class="col-lg-4 col-xl-3">

					<div class="instructor_pricing_widget">
						<div class="price"><span>Price</span> ₹19,700 <small>₹22,700 </small></div>
						<a routerLink="/LandingPage/registration" class="cart_btnss">Register Now</a>
						<!-- <a href="#" class="cart_btnss_white">Buy Now</a> -->
						<h5 class="subtitle text-left">Includes</h5>
						<ul class="price_quere_list text-left">
							<li><a ><span class="fas fa-play"></span> 11 hours on-demand video</a></li>
							
							<li><a ><span class="fas fa-cloud-download-alt"></span> 69 downloadable resources</a></li>
							<li><a ><span class="fas fa-key"></span> Full lifetime access</a></li>
							<li><a ><span class="fa fa-bolt"></span> Assignments</a></li>
							<li><a ><span class="fas fa-award"></span> Certificate of Completion</a></li>
						</ul>
					</div>


					<!-- course features -->
					
					<div class="feature_course_widget csv1">
						<ul class="list-group">
							<h4 class="title">Course Features</h4>
							<li class="d-flex justify-content-between align-items-center">
						    	Lectures <span class="float-right">6</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
						    	Quizzes <span class="float-right">1</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
						    	Duration <span class="float-right">3 hours</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
						    	Skill level <span class="float-right">All level</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
						    	Language <span class="float-right">English</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
						    	Assessments <span class="float-right">Yes</span>
							</li>
						</ul>
					</div>

						<!-- course features end-->
					<div class="blog_tag_widget csv1">
						<h4 class="title">Tags</h4>
						<ul class="tag_list">
							<li class="list-inline-item"><a href="#">Photoshop</a></li>
							<li class="list-inline-item"><a href="#">Sketch</a></li>
							<li class="list-inline-item"><a href="#">Beginner</a></li>
							<li class="list-inline-item"><a href="#">UX/UI</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</section>

	
	
	
	
	
	
	
	<!-- FAQ -->
	

<div class="content">
	<h1 class="faq_head">Frequently Asked Questions (FAQ)</h1>
	  
	<!-- __________________________ SECTIONS ___________________________ --> 
	
	<div>
	  <input type="checkbox" id="question1" name="q"  class="questions">
	  <div class="plus">+</div>
	  <label for="question1" class="question">
		Who can apply for the course?
	  </label>
	  <div class="answers">
		<p>Graduates from Engineering/Science having a foundation level knowledge (plus two equivalents) in Mathematics and Computer fundamental skills, can apply for the course. Those who are awaiting final results can also apply </p>
		
	  </div>
	</div>
	<!-- _____________________________________________________ --> 
	<div>
	  <input type="checkbox" id="question2" name="q" class="questions">
	  <div class="plus">+</div>
	  <label for="question2" class="question">
		What is the Age Limit for applying to this course?
	  </label>
	  <div class="answers">
		<p>20-45 </p>
		
	  </div>
	</div>
	 <!-- _____________________________________________________ -->  
	<div>
	  <input type="checkbox" id="question3" name="q" class="questions">
	  <div class="plus">+</div>
	  <label for="question3" class="question">
		What are the subjects covered for the Entrance Test?
	  </label>
	  <div class="answers">
		<p>It is a 60 Minutes online remote proctor test, which consist of Numerical Ability ,Logical Reasoning, Data Manipulation , Verbal Ability and International Affairs .There is no negative marks for the test </p>
		
	  </div>
	</div>
	<!-- _____________________________________________________ -->  
	<div>
	  <input type="checkbox" id="question4" name="q" class="questions">
	  <div class="plus">+</div>
	  <label for="question4" class="question">
		What is the duration of the long term courses?
	  </label>
	  <div class="answers">
		<p>6 Months (including internship) </p>
		
	  </div>
	</div>
	<!-- _____________________________________________________ -->  
	<div>
	  <input type="checkbox" id="question5" name="q" class="questions">
	  <div class="plus">+</div>
	  <label for="question5" class="question">
		What is the Course Fees
	  </label>
	  <div class="answers">
		<p>Fees for the Long-term course are 19,700 plus GST </p>
		
	  </div>
	</div>
	<!-- _____________________________________________________ -->  
	<div>
	  <input type="checkbox" id="question6" name="q" class="questions">
	  <div class="plus">+</div>
	  <label for="question6" class="question">
		Do working professionals /Students can join?
	  </label>
	  <div class="answers">
		<p>Yes, our course is suitable for both working professionals and students who are awaiting final results. Recorded videos of live sessions will also be available in case if anyone misses the sessions. </p>
		
	  </div>
	</div>
	<!-- _____________________________________________________ -->  
	<div>
	  <input type="checkbox" id="question7" name="q" class="questions">
	  <div class="plus">+</div>
	  <label for="question7" class="question">
		Is there a scholarship scheme as part of the course ?
	  </label>
	  <div class="answers">
		<p>Based on the performance on the Entrance Test you will be eligible to get 75% scholarship from NORKA Roots </p>
		
	  </div>
	</div>
	<!-- _____________________________________________________ -->  
	<div>
	  <input type="checkbox" id="question8" name="q" class="questions">
	  <div class="plus">+</div>
	  <label for="question8" class="question">
		What are the criteria for appearing in the course Final Assessment?
	  </label>
	  <div class="answers">
		<p>Candidates should have a minimum 80% attendance for live sessions. Candidates should complete all assignments and assessments as per course Quality Framework. </p>
		
	  </div>
	</div>
	<!-- _____________________________________________________ -->  
	<div>
	  <input type="checkbox" id="question9" name="q" class="questions">
	  <div class="plus">+</div>
	  <label for="question9" class="question">
		Can non-Keralites apply for the programme ?
	  </label>
	  <div class="answers">
		<p>Yes, the programe is open for anyone, but the 75% scholarship is only available for Keralites. A scholarship of 20% is available for candidates from outside state </p>
		
	  </div>
	</div>
	<!-- _____________________________________________________ -->  
	<div>
	  <input type="checkbox" id="question10" name="q" class="questions">
	  <div class="plus">+</div>
	  <label for="question10" class="question">
		What are the Add on Partner badges you provide?
	  </label>
	  <div class="answers">
		<!-- <p>Cavendish Square titles are also available as eBooks.  Also available are over 50 database titles.  Click here for more information on our eBooks and digital databases.  For a complete list of available digital resources, please call Customer Service at 1-877-980-4450 between 9AM and 5 PM EST, Monday through Friday. </p> -->
		<ul>
			<li>⚫ Cloud computing by AWS – Amazon Web Services</li>
			<li>⚫ Robotic Process Automation by Automation Anywhere</li>
		</ul>
		
	  </div>
	</div>
	
	</div>



 <!-- <div class="container">
	<carousel [images]="images" [cellsToShow]="1" [loop]="true" [autoplay]="true" [autoplayInterval]="3000" ></carousel>
</div> -->




<!--Download Brochure  -->

<div class="container-fluid m-5 broch" >
	<div class="row justify-content-center">
		<div class="well col-md-offset-3 col-md-6">
		<form action="" method="post" id="register-form" novalidate="novalidate">
  
	  <h2 class="text-primary "> Certified Specialist in Data Science Brochure Download</h2>
	  <br>
	  <p class="text-danger">Fields marked with an * are required</p>
  
	  <div id="form-content">	  
  			  <div class="form-group mb-2">
				  <label for="name">Name*</label>
				  <input class="form-control" type="text" name="name">
			  </div>
			  
			  <div class="form-group mb-2">
				  <label for="password">phone*</label>
				  <input class="form-control" type="number" name="phone">
			  </div>
		  <div class="form-group mb-2">
				  <label for="city">Email*</label>
				  <input class="form-control" type="email" name="email">
			  </div>	  
			 
		 <div class="form-group mt-5 downbtn">               
				  <!-- <input class="btn btn-primary m-3" type="submit" name="submit"> -->
				  <ul>
					<li>
						<a class="brosach" href="title.pdf">Brochures</a>
						
					  </li>
				  </ul>
                  
			  </div>
			  <small class="text-dark " *ngIf="BrochureSend"><i class="fas fa-check text-success"></i> Brochure is successfully sent to your mail,please check</small>
	  </div>
  
  </form>
	  </div> 
	</div> 
  </div> 


<!--Download Brochure end -->





