<!-- <div class="container py-2">
    <div class="h1 text-center text-dark" id="pageHeaderTitle">MARKETING PARTNERS</div>
<div class="cards-list">
  
    <div class="card 1">
      <div class="card_image"> <img src="./assets/img/c1.jpg" /> </div>
      <div class="card_title title-white">
        <p>EDGE VARSITY</p>
      </div>
    </div>
    
      <div class="card 2">
      <div class="card_image">
        <img src="./assets/img/c2.jpg" />
         <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" /> -->
        <!-- </div>
      <div class="card_title title-white">
        <p>EDUBEX</p>
      </div>
    </div>
    
    <div class="card 3">
      <div class="card_image">
        <img src="./assets/img/c3.gif" /> -->
        <!-- <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" /> -->
      <!-- </div>
      <div class="card_title  title-white">
        <p>BRAND AND DIGITAL</p>
      </div>
    </div>
      
      <div class="card 4">
      <div class="card_image">
        <img src="./assets/img/c4.jpg" /> -->
        <!-- <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" /> -->
        <!-- </div>
      <div class="card_title title-white">
        <p>SUCCESS POINT</p>
      </div>
      </div>
    
    </div>
    </div> --> 





      <!-- Start stat section -->
      <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
      <section class="stat-section section-gap-half">
        <div class="h1 text-center text-light" id="pageHeaderTitle">MARKETING PARTNERS</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card 1">
                    <div class="card_image"> <img src="./assets/img/c1.jpg" /> </div>
                    <div class="card_title title-white">
                      <p></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card 2">
                    <div class="card_image">
                      <img src="./assets/img/c2.png" />
                      <!-- <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" /> -->
                      </div>
                    <div class="card_title title-white">
                      <p class="text-dark" style="font-weight: bold">EDUBEX</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card 3">
                    <div class="card_image">
                      <img src="./assets/img/c3.png" />
                      <!-- <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" /> -->
                    </div>
                    <div class="card_title  title-white">
                      <p></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card 4">
                    <div class="card_image">
                      <img src="./assets/img/c4.png" />
                      <!-- <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" /> -->
                      </div>
                    <div class="card_title title-white">
                      <p></p>
                    </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
    </div>
    <!-- End stat section -->
