
<head>
	

	<!-- Bootstrap & Styles -->
	
	
    <link href="/assets/css/corporate.css" rel="stylesheet">

	
	
</head>

<body>

   <section class="corper">
	  <div>
	<h2 class="newhd section-title " >Premium Membership</h2>
	<br>
	<p class="newpar">	 ICT Academy of Kerala (ICTAK) is pleased to offer its Premium Memberships to selected Engineering , Science & Management Institutions and Polytechnics in the state. Through the programme, ICTAK will support its members institution’s Faculty members, Students and Staffs with quality training resources, certifications and Industry immersions on IR4.0 Technologies, and thereby enabling them to reach their Academic and Career potential.</p>
	<div class="btnew">
		<a class="primary-btn" routerLink="/LandingPage/academiccollaboarations" >View Members</a>
	</div>
</div>
   </section>

	<!--  Features -->
	
	<section class="section_sapce text-center" style="padding-top: 5%;">
		<div class="row text-center" >
			<div class="container">
				<div class="section-title margin-b30">
					<h3> Why Choose Us ?</h3>
                </div>
			</div>
		</div>
        <div class="col-lg-12">
            <div class="row features-wrap">
                <div class="col-md-4">
                    <div class="single-feature relative">
                        <div class="overlay overlay-bg"></div>
                        <span class="ti-comments-smiley"></span>
                        <h3><i class="fa fa-users fa-3x "></i></h3>
                        <h3>For Students</h3>
                        <p style="text-align: justify;">
                            <li>Free training on industrial skills with global leaders like Microsoft, Oracle Academy, Google, Salesforce, AWS, and AAU in IR 4.0 technology domain.</li>
                            <li>Students from partner institutions benefit from the learning enrichment programs like ICSET, Techathlon, and Student Top 10.</li>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-feature relative">
                        <div class="overlay overlay-bg"></div>
                        <span class="ti-light-bulb"></span>
                        <h3><i class="fa fa-handshake fa-3x "></i></h3>
                        <h3>For Faculty</h3>
                        <p style="text-align: justify;">
                           
                            <li>Faculty Benefits Access to Partner Curriculum.</li>
                            <li>Faculty development program from Salesforce, Oracle Academy, Google, and Microsoft.</li>
                            <li>Industrial visit. Opportunity to see, interact, and experience the industry innovations.</li>
                               <li>Opportunity to publish their works in our international magazine.</li> 
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-feature relative">
                        <div class="overlay overlay-bg"></div>
                        <span class="ti-pencil-alt"></span>
                        <h3><i class="fa fa-school fa-3x "></i></h3>
                        <h3>For Institutions</h3>
                        <p style="text-align: justify;">
                          <li>Access to ICTAK corporate partner pre-programs and events.</li>
                          <li>Employability Quotient Test (EQT) to all the students to know their industrial skills.</li>
                            <li>Support for educators on partner program curriculum delivery and integration.</li>
                            <li>Connection and support to virtual and on-campus events.</li>
                            <li>Joint PR opportunities with ICT Academy of Kerala.</li>
                        
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
	</section>

	<!-- End of Features -->

<div class="col-lg-12">    
    <section class="stat-section section-gap-half">
        <div>
            <h3 style="text-align: center;color:white;padding-bottom: 10%;">
                Number of candidates trained on various skills in FY 20-21                
            </h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6" style="text-align: center;">
                    <div class="single-stat">
                        <i class="ti-thumb-up"></i>
                        <h1>
                            <span class="counter"><div  data-target="60000">{{fdp}}</div></span></h1>
                        <h4>Robotic Process Automation</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6" style="text-align: center;">
                    <div class="single-stat">
                        <i class="ti-face-smile"></i>
                        <h1>
                            <span class="counter"><div  data-target="60000">{{fsd}}</div></span></h1>
                        <h4>Full Stack Development</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6" style="text-align: center;">
                    <div class="single-stat">
                        <i class="ti-paint-bucket"></i>
                        <h1>
                            <span class="counter"><div  data-target="60000">{{sf}}</div></span></h1>
                        <h4>Salesforce</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6" style="text-align: center;">
                    <div class="single-stat">
                        <i class="ti-check-box"></i>
                        <h1>
                            <span class="counter"><div  data-target="60000">{{sf}}</div></span></h1>
                        <h4>Micro Skills</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6" style="text-align: center;">
                    <div class="single-stat">
                        <i class="ti-check-box"></i>
                        <h1>
                            <span class="counter"><div  data-target="60000">{{vi}}</div></span></h1>
                        <h4>Virtual Internships</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6" style="text-align: center;">
                    <div class="single-stat">
                        <i class="ti-check-box"></i>
                        <h1>
                            <span class="counter"><div  data-target="60000">{{op}}</div></span></h1>
                        <h4>Other Programs</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

    


    <section class="corpernew col-lg-12">
        <div>
      <h2 class="newhd section-title "style="color: black;" >Commercial and validity period</h2>
      <br>
      <p class="newpar" style="color: black;">	ICT Academy of Kerala is forming a Premium membership programme with selected Engineering/ Science/ Management institutions in the state. The institutions will be selected based on a set of criteria, through an online application form from the interested colleges. The submission will be scrutinized by the ICTAK administration office and if required, will interact with the applying institutions for obtaining clarifications. Selected institutions will be provided with one year membership and will be provided with one year membership and will be supported by the ICTAK on a set of activities that will help the students, teachers and institutions at large.
        The membership will be free for selected institutions.</p>
    
  </div>
     </section>


	<!--APPS Downloads -->
	<section class="container-fluid partnerdemo section_sapce section-parallax parallax  apps-download" >
        <div class="container ">
            <div class="row">
                <div style="text-align: center;">
                	<h3 style="padding-bottom: 5%;"> Meet our Technology Partners </h3>
                </div>
                <div class="text-center relative">
                	
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Salesforce.com_logo.svg/2560px-Salesforce.com_logo.svg.png"  class="col-lg-2 col-md-3 col-sm-4 col-4" style="margin-top:2%">
					
                    <img src="https://thycotic.com/wp-content/uploads/2020/09/automation_anywhere.png"  class="col-lg-2 col-md-3 col-sm-5 col-4" style="margin-top:2%">
					<img src="https://www.freepnglogos.com/uploads/microsoft-logo-png-transparent-20.png"  class="col-lg-2 col-md-3 col-sm-5 col-4" style="margin-top:2%">
                <img src="https://images.ctfassets.net/5965pury2lcm/1OVj4PfkzVc4Vrm3IuDdAP/f415d995e5a286ddb2644cabafeb9578/UiPath-og-image-orange.png" class="col-lg-2 col-md-3 col-sm-5 col-4" style="margin-top:2%">
				<img src="https://www.freepnglogos.com/uploads/vmware-png-logo/partners-login-vmware-png-logo-10.png"  class="col-lg-2 col-md-3 col-sm-5 col-4" style="margin-top:5%">
			<img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-sva-scholarship-20.png"  class="col-lg-2 col-md-3 col-sm-5 col-4" style="margin-top:5%">	
            <img src="https://download.logo.wine/logo/Oracle_Corporation/Oracle_Corporation-Logo.wine.png"  class="col-lg-2 col-md-3 col-sm-5 col-4" style="margin-top:0%">	  	

			</div>
            </div>
        </div>
	</section>
    <!--End of APPS Downloads -->


    <!--  Footer -->
	
    <!--  End of Footer -->


    <!--  Back to Top -->
   

    <!--  Scripts -->
	

	
</body>

