<app-header></app-header>
<!-- digital classroom workshop banner start -->
<div class="cater3-movingBG">
    <div class="row section-gap-half">
        <div class="col-lg-12 text-center">
            <h1 class="lineOne " >
                Faculty Development program on
            </h1>
            <h1 class="lineTwo " >
                Digital Teaching Techniques
            </h1>
            <button routerLink="/LandingPage/dcw-registration" class="btn" >Register</button>
        </div>
</div>
</div>
<!-- digital classroom workshop banner end -->


<!-- Start price section -->
<section class="price-section section-gap-full" id="price-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 price-left">
                <h4>
                    Upskill the Art of <br> Digital Teaching
                </h4>
                <p>
                     A golden opportunity for us to incorporate “TECH in TEACH” more effectively and learn better tools for better interaction between students and teachers.
                 </p>
            </div>
            <div class="col-lg-5 d-flex price-right">
                <div class="single-price main">
                    <div class="top-wrap">
                        <i class="ti ti-medall"></i>
                        <p>Fee:</p>
                        <h2><span>₹</span>750 + GST</h2>
                    </div>
                    <div class="bottom-wrap">
                        <u><h3 style="text-align: center; color:white;">Training Details</h3></u>
                        <ul>
                            <li class="d-flex justify-content-between align-items-center">
                                <span>2 Hours of Live Learning for 5 days</span>
                                <i class="ti ti-check"></i>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <span>Online training videos can be accessible through Paatshala</span>
                                <i class="ti ti-check"></i>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <span>All recorded sessions will be available for 1 month</span>
                                <i class="ti ti-check"></i>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <span>e-Certificate for successful completion of the program</span>
                                <i class="ti ti-check"></i>
                            </li>
                        </ul>
                        <a routerLink="/LandingPage/dcw-registration" class="primary-btn primary-btn-w d-block mx-auto">Register Now</a>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</section>
<!-- End price section -->


<!-- Start Agenda section -->
<section class="feature-section section-gap-full" id="feature-section">
    <div class="container">
        <div class="row align-items-center feature-wrap">
            <div class="col-lg-6 header-left">
                <h1>
                    OVERVIEW
                </h1>
                <ul style="list-style-type: decimal; font-size: 20px;">
                    <li style="margin-bottom: 15px;">Understand “The PERL Model” of ICTAK</li>
                    <li style="margin-bottom: 15px;">Explore best practices in Digital Content Development</li>
                    <li style="margin-bottom: 15px;">Learn Digital Teaching & Learning Strategies</li>
                    <li style="margin-bottom: 15px;">Creation of MOODLE as the Backbone</li>
                    <li style="margin-bottom: 15px;">Discover the Content Creation Tools</li>
                    <li style="margin-bottom: 15px;">Experience the Content Sharing & Collaboration Tools</li>
                    <li style="margin-bottom: 15px;">Evaluate the Positive Engagement Tools</li>
                    <li style="margin-bottom: 15px;">Learn Assessment Tools & Certification</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="row features-wrap">
                   
                    <div class="col-md-12">
                        <section class="faq-section section-gap-full">
                            <div class="container">
                                <div class="section-title">
                                    <h2 class="text-center">AGENDA</h2>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-10">
                                        <mat-accordion>
                                            <mat-expansion-panel >
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Introduction to "The PERL Model"
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                </mat-expansion-panel>
                                            <mat-expansion-panel >
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        MOODLE as the Backbone
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                        <ul style="list-style-type: circle;">
                                                            <li>Course Creation</li>
                                                            <li>Moodle Resources</li>
                                                            <li>User Creation & Enrollment</li>
                                                        </ul>
                                            </mat-expansion-panel>
                                    
                                            <mat-expansion-panel >
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Content Creation Tools
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                        <ul style="list-style-type: circle;">
                                                            <li>Mindmapping</li>
                                                            <li>Quality Framework</li>
                                                            <li>Storyboard Creation</li>
                                                            <li>Visual Aids</li>
                                                            <li>Content Recording & Editing</li>
                                                        </ul>
                                            </mat-expansion-panel>
                                    
                                            <mat-expansion-panel >
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Content Sharing & Cpllaboration Tools
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                    <ul style="list-style-type: circle;">
                                                        <li>Content Mapping</li>
                                                        <li>Content Sharing</li>
                                                        <li>Collaboration Platforms</li>
                                                        <li>Self-Paced Learning Platforms</li>
                                                    </ul>
                                            </mat-expansion-panel>
                                    
                                            <mat-expansion-panel >
                                                <mat-expansion-panel-header >
                                                    <mat-panel-title>
                                                        Positive Engagement Tools
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                    <ul style="list-style-type: circle;">
                                                        <li>Instructor-Led Live Platforms</li>
                                                        <li>Student Engagement Platforms</li>
                                                        <li>Interactive Tools</li>
                                                    </ul>
                                            </mat-expansion-panel>

                                            <mat-expansion-panel >
                                                <mat-expansion-panel-header >
                                                    <mat-panel-title>
                                                        Assessment Tools & Certification
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                    <ul style="list-style-type: circle;">
                                                        <li>Assessment Platforms</li>
                                                        <li>Feedback Aids</li>
                                                        <li>Certificate Design & Creation Platforms</li>
                                                    </ul>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    
                                        
                                    </div>
                                </div>
                            </div>
                        </section>   
                    </div>    
                </div>   
        </div>
    </div>
    </div>
</section>
<!-- End feature section -->

<!-- objective -->

<section class="about-section section-gap-full relative" id="about-section">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-12 about-left">
                <img class="img-fluid" src="/assets/img/obj-bg.jpg" alt="">
            </div>
            <div class="col-lg-5 col-md-7 about-right">
                <h1 >OBJECTIVES</h1>
                <ul>
                    <li class="d-flex">
                        <div class="icon">
                            <span class="ti-star"></span>
                        </div>
                        <div class="details">
                            <h4 style="font-size:18px;">Learn the innovative approaches towards digital teaching</h4>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span class="ti-star"></span>
                        </div>
                        <div class="details">
                            <h4 style="font-size: 18px;">Win the ability to create a positive, supportive, and inclusive digital learning environment</h4>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span class="ti-star"></span>
                        </div>
                        <div class="details">
                            <h4 style="font-size: 18px;">Gain knowledge, skills and ability to digitize online teaching-learning</h4>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span class="ti-star"></span>
                        </div>
                        <div class="details">
                           <h4 style="font-size: 18px;">Building confidence to succeed in the role of a teacher at any level of education</h4>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span class="ti-star"></span>
                        </div>
                        <div class="details">
                           <h4 style="font-size: 18px;">Understanding the art of analyzing student’s performance in the digital age</h4> 
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- objective end -->

<!-- about the program -->

<section class="explore-section section-gap-full relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 explore-left">
                
                <h1>About the Program</h1>
                <p>
                    " This niche short-term certificate course will enable the faculty members to integrate online technologies into teaching and make the challenging activity into something simple by helping choose ethically appropriate digital pedagogy and benefit both students and teachers to achieve excellence in learning. Teachers, on the successful completion of the course can build a Learner Directed Digital Learning environment at institution with ease. "
                </p>
            </div>
            <div class="col-lg-6 explore-right"></div>
        </div>
    </div>
</section>
<!-- about the program ends -->

  <!-- Start testimonial section -->
  <section class="testimonial-section section-gap-full" id="testimonial-section">
    <h1 class="text-center" >Hear From Our Participants</h1>
    <div class="container" style="background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)),url(/assets/img/testi-bg.jpeg);">
        <div class="row align-items-center">
            <div class="col-lg-12 testimonial-right">
                
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="testimony-img">
                            <img src="/assets/img/owl1.jpeg" alt="Slide1">
                        </div>
                        <div class="testimony-content">
                            <h2>Jhone Doe</h2>
                            <h3>Web Designer</h3>
                            <p>
                                It is a long established fact that a reader will be distracted by the 
                                readable content of a page when looking at its layout. The point of using
                                Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
                                as opposed to using 'Content here, content here', making it look like readable 
                            </p>
                        </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="testimony-img">
                            <img src="/assets/img/owl1.jpeg" alt="Slide1">
                        </div>
                        <div class="testimony-content">
                            <h2>Jhone Doe</h2>
                            <h3>Web Designer</h3>
                            <p>
                                It is a long established fact that a reader will be distracted by the 
                                readable content of a page when looking at its layout. The point of using
                                Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
                                as opposed to using 'Content here, content here', making it look like readable 
                            </p>
                        </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="testimony-img">
                            <img src="/assets/img/owl1.jpeg" alt="Slide1">
                        </div>
                        <div class="testimony-content">
                            <h2>Jhone Doe</h2>
                            <h3>Web Designer</h3>
                            <p>
                                It is a long established fact that a reader will be distracted by the 
                                readable content of a page when looking at its layout. The point of using
                                Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
                                as opposed to using 'Content here, content here', making it look like readable 
                            </p>
                        </div>
                    </ng-template>  
                </owl-carousel-o>
          </div>
        </div>
    </div>
</section>
<!-- End testimonial section -->

<app-footer></app-footer>
