
  .cater3-movingBG {
      height: 80vh;
      background-image: url(/assets/img/digi-bg.jpg);
      background-size: 125%;
      background-repeat: repeat-x;
      animation: animatedBackground 15s linear alternate infinite;
  }
  
  @keyframes animatedBackground {
      0% { background-position: 0 0; }
      50% { background-position: 50% 0; }
      100% { background-position: 0 0; }
  }
  
  .flyinTxtCont {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-bottom: 10%;
        margin-left: 5em;
  }
  .flyIn {
      color:#fff;
      font-family:'Raleway';
      text-transform:uppercase;
      line-height:1em;
      position:relative;
    text-shadow: 2px 2px 40px rgba(0,0,0,0.7);
  }
  .lineOne {
    transition-delay:.4s; 
    transition:.6s ease in;
    animation: txtFlyIn .5s linear;
    color:white;
    font-size: 35px;
    margin-bottom:20px;
     margin-top: 5%;
  }
   .lineTwo {
      transition-delay:.8s; 
      transition:.8s ease in;
      animation: txtFlyIn .8s linear;
      color:white;
      font-size: 50px;
      margin-bottom:8px;
  }
  
  .lineTwo {
      transition-delay:4s; 
      transition:6s ease in;
      animation: fadeIn 6s linear;
      text-align: center;
      width: 100%;
      display:inline-block;
      color: white;
      box-size:border-box;
  }
  @keyframes fadeIn{
      0% { opacity:0;}
      100% { opacity:1;}
  }
  @keyframes txtFlyIn{
      0% { transform:translateX(-100%); }
      100% { transform:translateX(0%); }
  }
  .btn{
    width:200px;
     font-size: 24px;
     font-weight: 400;
      border-radius:50px;
       margin-top:3%;
       color:#fff;
       background: darkorange;
  }


  .feature-section {
    background: url(/assets/img/feature-bg.png)center no-repeat;
    background-size: cover;
  }
  .feature-section h1{
      font-size:30px ;
      font-weight: bold;
  }
  .faq-section h2{
    font-size: 30px; 
    font-weight: bold;  
  }

#about-section h1{
    font-size: 30px;
    font-weight: bold
}
  /* testimonial */
  #testimonial-section{
      background: #eee;
  }
  #testimonial-section h1{
    font-size:35px; 
    font-weight:bold;
  }
  .testimony-img{
    width: 110px;
    height: 110px;
    margin: 10px auto;

}
.testimony-img img{
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.1);
    width: 100%;
    height: 100%;
}
.testimony-content h2{
    font-size: 18px;
    color: #691cff;
    font-weight: 600;
    text-transform: uppercase;
    margin: 18px 0 0.5rem;
    line-height: 1.2px;
    text-align: center;
}
.testimony-content h3{
    font-size: 14px;
    color: black;
    margin: 10px 0 10px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-align: center;
}
.testimony-content p{
    position: relative;
    font-style: italic;
    font-size: 14px;
    color: black;
    margin: 28px 30% 70px 30%;
    line-height: 23px;
}

.testimony-head,.services-head{
    
    text-align: center;
    color: black;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
    .lineTwo{
        font-weight: bold;
    }
    #testimonial-section .owl-prev i{
        left:-100px;
      }
      #testimonial-section .owl-next{
        right:500px;
      }
}
@media only screen and (min-device-width:425px) and (max-device-width:767px){
    .lineOne{
        font-size: 28px;
        
    }
    .lineTwo{
        font-size: 35px;
        font-weight: bold;
    }
    .btn{
        font-size: 20px;
        font-weight: 400;
        width: 150px;
        color:#fff;
    }
}
@media only screen and (min-device-width:321px) and (max-device-width:424px){
    .cater3-movingBG{
        height: 70vh;
    }
    .lineOne{
        font-size: 25px;
        
    }
    .lineTwo{
        font-size: 35px;
        font-weight: bold;
    }
    .btn{
        font-size: 20px;
        font-weight: 400;
        width: 150px;
        color:#fff;
    }
}
@media only screen and (max-device-width:320px){
    .cater3-movingBG{
        height: 50vh;
    }
    .lineOne{
        font-size: 20px;
        
    }
    .lineTwo{
        font-size: 28px;
        font-weight: bold;
    }
    .btn{
        font-size: 18px;
        font-weight: 300;
        width: 120px;
        color:#fff;
    } 
    #price-section h4{
        font-size: 20px;
        font-weight: bold;
    }
    #feature-section h1, .faq-section h2, #about-section h1, .explore-section h1, #testimonial-section h1{
        font-size: 25px;
        font-weight: bold;
    }
}
