<app-header></app-header>
<!-- ml-ai banner start -->
<section class="page-top-banner section-gap-full relative" data-stellar-background-ratio="0.6">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row section-gap-half">
            <div class="col-lg-12 text-center">
                <h1 class="text1">VIRTUAL INTERNSHIP ON ML \ AI</h1>
            </div>
        </div>
        <div class="btn text-center">
            <a routerLink="/LandingPage/mlai-registration"><button class="button-1" role="button">Register Now</button></a>
        </div>
    </div>
</section>
<!-- ml-ai banner end -->

<!-- what is ai  -->
<div class="img-explain" style="margin-left:100px; margin-top: 35px;">
    <h3 style="margin-bottom: 20px;">What is Artificial Intelligence and Machine learning?</h3>
    <div class="row">
        <div class="col-lg-4">
            <img src="/assets/img/rpa.jpg" width="300px" height="200px">
        </div>
        <div class="col-lg-6" style="line-height: 25px;">
            <p><b>Artificial Intelligence (AI) and Machine Learning (ML)</b> are two very hot buzzwords right now, and often seem to be used interchangeably.

Artificial Intelligence is the broader concept of machines being able to carry out tasks in a way that we would consider “smart”.Machines learn and provide intelligent insights through a sophisticated use of learning algorithms which is referred to as Machine Learning. To provide business value, the machine is trained to learn patterns from data and then can proceed autonomously on new and changing data. Hence, Machine Learning and Artificial Intelligence jobs are high in demand and continue to be the winners in today’s world.
</p>
        </div>
    </div>
</div>

<!-- what is ai ends -->

<!-- course fees start -->
<section class="price-section section-gap-full" id="price-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 price-left">
                <div class="zoom-in-zoom-out"></div>
               
            </div>
            <div class="col-lg-6 d-flex price-right">
                <div class="single-price main">
                    <div class="top-wrap">
                        <i class="ti ti-medall"></i>
                        <h4>Enterprise</h4>
                        <p> internship fee</p>
                        <h2><span></span>₹ 1990/-</h2>
                    </div>
                    <div class="bottom-wrap">
                        <ul>
                            <li class="d-flex justify-content-between align-items-center">
                                <span>Experiential Learning</span>
                                <i class="ti ti-check"></i>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <span>Exposure to Latest Technology Trends</span>
                                <i class="ti ti-check"></i>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <span>Best Practices Followed by Industry and their Use Cases</span>
                                <i class="ti ti-check"></i>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <span>Online Certification</span>
                                <i class="ti ti-check"></i>
                            </li>
                        </ul>
                        <a routerLink="/LandingPage/mlai-registration" class="primary-btn primary-btn-w d-block mx-auto">Register Now</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- course fees end -->


<!-- tools and technollogies start -->
<section class="featured-section">
    <div class="container">
        <div class="section-title">
            <h2 class="text-center">Tools And Technologies used</h2>
        </div>
        <div class="row align-item-center">
            <div class="col-lg-3 col-md-4 col-sm-4 single-logo">
                <img class="img-fluid" src="/assets/img/jup.png" alt="" width="100px"  height="100px">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 single-logo" >
                <img class="img-fluid" src="/assets/img/pyth.jpeg" alt="" width="150px"  height="150px">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 single-logo" >
                <img class="img-fluid" src="/assets/img/vscode2.jpg" alt="" width="100px"  height="100px">
            </div>
            
        </div>
    </div>
</section>
<!-- tools and technollogies end -->

<!-- agenda at a glance start -->
<section class="about-section section-gap-full relative" id="about-section">
    <div class="container">
        <h1 style="text-align: center; margin-bottom: 40px;font-size: 35px;">AGENDA AT A GLANCE</h1>
        <div class="row align-items-center justify-content-between" style="margin-left: 120px;">
            <div class="col-lg-7 col-md-12 about-right">
                
                <ul>
                    <li class="d-flex">
                        <div class="icon">
                            <span>1</span>
                        </div>
                        <div class="details">
                            <h4>Day 1</h4>
                            <p>
                                A wonderful serenity has taken possession of my entire soul, like these sweet
                                mornings of spring which I enjoyed.
                            </p>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>2</span>
                        </div>
                        <div class="details">
                            <h4>Day 2</h4>
                            <p>
                                A wonderful serenity has taken possession of my entire soul, like these sweet
                                mornings of spring which I enjoyed.
                            </p>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span >3</span>
                        </div>
                        <div class="details">
                            <h4>Day 3</h4>
                            <p>
                                A wonderful serenity has taken possession of my entire soul, like these sweet
                                mornings of spring which I enjoyed.
                            </p>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>4</span>
                        </div>
                        <div class="details">
                            <h4>Day 4</h4>
                            <p>
                                A wonderful serenity has taken possession of my entire soul, like these sweet
                                mornings of spring which I enjoyed.
                            </p>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>5</span>
                        </div>
                        <div class="details">
                            <h4>Day 5</h4>
                            <p>
                                A wonderful serenity has taken possession of my entire soul, like these sweet
                                mornings of spring which I enjoyed.
                            </p>
                        </div>
                    </li>
                    
                </ul>
            </div>
            <div class="col-lg-5 col-md-12 about-right">
                
                <ul>
                    <li class="d-flex">
                        <div class="icon">
                            <span>6</span>
                        </div>
                        <div class="details">
                            <h4>Day 6</h4>
                            <p>
                                A wonderful serenity has taken possession of my entire soul, like these sweet
                                mornings of spring which I enjoyed.
                            </p>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span >7</span>
                        </div>
                        <div class="details">
                            <h4>Day 7</h4>
                            <p>
                                A wonderful serenity has taken possession of my entire soul, like these sweet
                                mornings of spring which I enjoyed.
                            </p>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>8</span>
                        </div>
                        <div class="details">
                            <h4>Day 8</h4>
                            <p>
                                A wonderful serenity has taken possession of my entire soul, like these sweet
                                mornings of spring which I enjoyed.
                            </p>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>9</span>
                        </div>
                        <div class="details">
                            <h4>Day 9</h4>
                            <p>
                                A wonderful serenity has taken possession of my entire soul, like these sweet
                                mornings of spring which I enjoyed.
                            </p>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="icon">
                            <span>10</span>
                        </div>
                        <div class="details">
                            <h4>Day 10</h4>
                            <p>
                                A wonderful serenity has taken possession of my entire soul, like these sweet
                                mornings of spring which I enjoyed.
                            </p>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- agenda at a glance end -->
<hr>
<!-- Frequently Asked Questions start -->
<section class="faq-section section-gap-full">
    <div class="container">
        <div class="section-title">
            <h2 class="text-center" style="font-size: 35px;">Frequently Asked Questions</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <mat-accordion>
                    <mat-expansion-panel style="background:rgba(0,0,0,0.1);">
                        <mat-expansion-panel-header  style="background: white;" >
                            <mat-panel-title>
                                What exactly is Artificial Inteligence?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                            consisted consulted elsewhere happiness disposing household any old the. Widow downs you
                            new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by
                            daughters resembled unwilling principle so middleton. Fail most room even gone her end
                            like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                            company thought wishing colonel it prevent he in. Pretended residence are something far
                            engrossed old off.</p>
                    </mat-expansion-panel>
            
                    <mat-expansion-panel style="background:rgba(0,0,0,0.1);">
                        <mat-expansion-panel-header  style="background: white;" >
                            <mat-panel-title>
                                What is machine learning simple definition?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                            consisted consulted elsewhere happiness disposing household any old the. Widow downs you
                            new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by
                            daughters resembled unwilling principle so middleton. Fail most room even gone her end
                            like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                            company thought wishing colonel it prevent he in. Pretended residence are something far
                            engrossed old off.</p>
                    </mat-expansion-panel>
            
                    <mat-expansion-panel style="background:rgba(0,0,0,0.1);">
                        <mat-expansion-panel-header  style="background: white;">
                            <mat-panel-title>
                                How can i register the Internship?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                            consisted consulted elsewhere happiness disposing household any old the. Widow downs you
                            new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by
                            daughters resembled unwilling principle so middleton. Fail most room even gone her end
                            like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                            company thought wishing colonel it prevent he in. Pretended residence are something far
                            engrossed old off.</p>
                    </mat-expansion-panel>
            
                    <mat-expansion-panel style="background:rgba(0,0,0,0.1);">
                        <mat-expansion-panel-header  style="background: white;">
                            <mat-panel-title>
                                How much should I pay for internship?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                            consisted consulted elsewhere happiness disposing household any old the. Widow downs you
                            new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by
                            daughters resembled unwilling principle so middleton. Fail most room even gone her end
                            like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                            company thought wishing colonel it prevent he in. Pretended residence are something far
                            engrossed old off.</p>
                    </mat-expansion-panel>
            
                    <mat-expansion-panel style="background:rgba(0,0,0,0.1);">
                        <mat-expansion-panel-header style="background: white;">
                            <mat-panel-title>
                                Who can join this internship?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                            consisted consulted elsewhere happiness disposing household any old the. Widow downs you
                            new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by
                            daughters resembled unwilling principle so middleton. Fail most room even gone her end
                            like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                            company thought wishing colonel it prevent he in. Pretended residence are something far
                            engrossed old off.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel style="background:rgba(0,0,0,0.1);">
                        <mat-expansion-panel-header style="background: white;">
                            <mat-panel-title>
                                Will I get certificate after completing the internship?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                            consisted consulted elsewhere happiness disposing household any old the. Widow downs you
                            new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by
                            daughters resembled unwilling principle so middleton. Fail most room even gone her end
                            like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                            company thought wishing colonel it prevent he in. Pretended residence are something far
                            engrossed old off.</p>
                        </mat-expansion-panel>
                </mat-accordion>   
            </div>
        </div>
    </div>
</section>


<!-- Frequently Asked Questions end -->
<app-footer></app-footer>

   


