@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.css');

.background{
    background: url(/assets/images/feature-bg.png) center no-repeat;
    background-size: cover;
}

h1{
    color:rgb(131, 8, 8);
    text-align: center;
}

