  <!-- Start feature section -->
  <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
  <section class="feature-section section-gap-full" id="feature-section">
    <div class="container mt-5">
        <div class="row align-items-center feature-wrap">
            <div class="col-lg-4 header-left">
                <h1>
                    Our Key Focus Areas
                </h1>
                <!-- <a class="primary-btn" href="#">Know More
                    <span class="ti-arrow-right"></span>
                </a> -->
            </div>
            <div class="col-lg-8">
                <div class="row features-wrap">
                    <div class="col-md-6">
                        <div class="single-feature relative">
                            <div class="overlay overlay-bg"></div>
                            <span class="ti-palette"></span>
                            <h3>Programmes for Faculty</h3>
                            <p>
                                
                                Industry focused enablement programmes for Faculty members.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-feature relative">
                            <div class="overlay overlay-bg"></div>
                            <span class="ti-heart"></span>
                            <h3>Programmes for Students</h3>
                            <p>
                                Industry focused ICT Skills development programmes for Students.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-feature relative">
                            <div class="overlay overlay-bg"></div>
                            <span class="ti-loop"></span>
                            <h3>Projects</h3>
                            <p>
                                Project assignments related to capability building for Institutions and Corporate.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-feature relative">
                            <div class="overlay overlay-bg"></div>
                            <span class="ti-headphone-alt"></span>
                            <h3>Constant Update of Technologies</h3>
                            <p>
                                
                                Creating Intellectual Property on niche skill areas and emerging technologies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- End feature section -->
