<head>
    <link href="/assets/css/corporate.css" rel="stylesheet">
</head>

<div class="container add1">
    <h2>
        Membership Form
    </h2>
</div>
<div class="container">

    <form >
        <!-- First row -->
        <div class="row">
            <div class="six columns">
                <label>

                </label>
                <input class="u-full-width form-control" type="text" [(ngModel)]="corporform.name" name="name" placeholder="Name"
                   value="" />
            </div>
            <div class="six columns">
                <label>
                </label>
                <input class="u-full-width form-control " type="text" [(ngModel)]="corporform.address" name="address"
                    placeholder=" Address" value=""  />
            </div>
        </div>
        <!-- Second row -->
        <br>
        <div class="row">
            <div class="six columns">
                <label>
                </label>
                <input class="u-full-width form-control" type="text" [(ngModel)]="corporform.website" name="website"
                    placeholder=" Website" value=""  />
            </div>
            <div class="six columns">
                <label>
                </label>
                <input class="u-full-width form-control " type="text" [(ngModel)]="corporform.head" name="head"
                    placeholder="Head of the organisation" value=""  />
            </div>
        </div>
        <!-- third row -->
        <br>
        <div class="row">
            <div class="six columns">
                <label>
                </label>
                <input class="u-full-width form-control" type="text" [(ngModel)]="corporform.nature" name="nature"
                    placeholder="Nature of the Organization (Product/Services)" value=""  />
            </div>
            <div class="six columns">
                <label>
                </label>
                <select class="custom-select"   [(ngModel)]="corporform.typeof" >
                    <option >Type of the Company</option>
                    <option *ngFor="let pvt of pvts" [ngValue]="pvt">{{pvt}}</option>
                </select>
            </div>
        </div>

        <!-- Fourth row -->
        <br>
        <div class="row">
            <div class="six columns">
                <label>
                </label>
                <input class="u-full-width form-control" type="text" [(ngModel)]="corporform.identityNo" name="identityNo"
                    placeholder=" Corporate identity Number" value=""  />
            </div>
            <div class="six columns">
                <label>
                </label>
                <input class="u-full-width form-control " type="text" [(ngModel)]="corporform.GST" name="GST" placeholder="GST Number"
                    value=""  />
            </div>
        </div>

        <!-- point of contact  -->

        <div class="container add1">
            <h2>
                Point of Contact
            </h2>
        </div>

        <!-- First row -->
        <div class="row">
            <div class="six columns">
                <label>

                </label>
                <input class="u-full-width form-control" type="text" [(ngModel)]="corporform.nameofContact" name="nameofContact"
                    placeholder="Name"  value="" />
            </div>
            <div class="six columns">
                <label>
                </label>
                <input class="u-full-width form-control " type="text" [(ngModel)]="corporform.phone" name="phone"
                    placeholder=" Contact Number" value="" />
            </div>
        </div>
        <!-- Second row -->
        <br>
        <div class="row">
            <div class="six columns">
                <label>
                </label>
                <input class="u-full-width form-control" type="text" [(ngModel)]="corporform.email" name="email" placeholder=" email"
                    value=""  />
            </div>
            <div class="six columns">
                <label>
                </label>
                <input class="u-full-width form-control " type="text" [(ngModel)]="corporform.TechnicalSkill" name="TechnicalSkill"
                    placeholder="TechnicalSkillsets commonly used in the organisation" value=""
                    />
            </div>
        </div>

        <!-- Third row -->
        <br>
        <div class="row">
            <div class="six columns">
                <label>
                </label>
                <input class="u-full-width form-control" type="text" [(ngModel)]="corporform.employeeCount" name="employeeCount"
                    placeholder=" employeeCount" value="" />
            </div>
            <div class="six columns">
                <label>
                </label>
                <select class="custom-select"  [(ngModel)]="corporform.hire">
                    <option value="">Average yearly fresher hiring in your company </option>
                    <option *ngFor="let hire of hires" [ngValue]="hire">{{hire}}</option>
                </select>
            </div>
        </div>

        <!-- Fourth row -->
        <br>
        <div class="row">

            <div class="six columns">
                <label>
                </label>
                <select [(ngModel)]="corporform.patents" >
                    <option value="">Number of Patents per Year</option>
                    <option *ngFor="let patent of patents" [ngValue]="patent">{{patent}}</option>
                </select>
            </div>

            <div class="six columns">
       
                <ng-select  bindLabel="name" placeholder="How do you wish to collaborate" appendTo="body"
                     [(ngModel)]="corporform.collaborate" >
                </ng-select>


            </div>

        </div>



        <!-- textbox -->


        <br><br>
        <label>
        </label>
        <input class="u-full-width form-control boxer" type="text"
            placeholder="Any academic interface program/ activities conducted by your organization? if so please provide the details"
            [(ngModel)]="corporform.details" name="details" value=""  />



        <!-- submit -->
        <br><br>
        <input type="submit"class="primary-btn " style="background-color: rgb(101, 25, 241); color:white">

    </form>
</div>


<app-footer></app-footer>