 <!-- Start about section -->
 
 <section class="about-section section-gap-full relative" id="about-section">
    <div class="container banner_main">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-8 col-md-8 about-left">
                <img class="img-fluid" src="/assets/images/partner1.jpg" alt="">
            </div>
            <div class="col-lg-4 col-md-5 about-right">
                <h1>PARTNER WITH US</h1>
                <p>As an ICTK partner, You will get a fantabulous oppurtunity to handhold nation building
                    process </p>
                <div class="middle">
                    <button  class="btn btn1 " >Get Started</button>
                    <button class="btn btn1 "  >Brochure</button>

                </div>
            </div>
        </div>
    </div>
    <div class="floating-shapes">
        
        
        <span data-parallax='{"x": -180, "y": 80, "rotateY":2000}'>
            <img src="/assets/images/shape/fl-shape-3.png" alt="">
        </span>
        <span data-parallax='{"x": -20, "y": 180}'>
            <img src="/assets/imges/shape/fl-shape-4.png" alt="">
        </span>
        <span data-parallax='{"x": 300, "y": 70}'>
            <img src="/assets/images/shape/fl-shape-5.png" alt="">
        </span>
        <span data-parallax='{"x": 250, "y": 180, "rotateZ":1500}'>
            <img src="/assets/images/shape/fl-shape-6.png" alt="">
        </span>
        <span data-parallax='{"x": 180, "y": 10, "rotateZ":2000}'>
            <img src="/assets/images/shape/fl-shape-8.png" alt="">
        </span>
        <span data-parallax='{"x": 60, "y": -100}'>
            <img src="/assets/images/shape/fl-shape-9.png" alt="">
        </span>
        <span data-parallax='{"x": -30, "y": 150, "rotateZ":1500}'>
            <img src="/assets/images/shape/fl-shape-10.png" alt="">
        </span>
    </div>
</section>
<!-- End about section -->