.about-section {
    background: url(/assets/images/feature-bg.png) center no-repeat;
    background-size: cover;
  }
  h1{
      color:rgb(131, 8, 8);
  }
  p {
    color: #182628;
    font-size: 17px;
    line-height: 28px;
    padding: 40px 0;
    font-weight: 400;
  }
  .middle {
    transform: translate(-0%, -30%);
    /* text-align: center; */
    /* align-items: center; */
  }
  
  .btn {
    background: none;
    border: 2px solid #182628;
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 100px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    color: #182628;
  
  }
  .btn:hover {
    color: #faf9f9d0;
   /* background-color: rgb(209, 43, 43);*/
   background-color: rgb(83, 58, 58);
  }
  
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  
  
  .academic{
    justify-content: center!important    ;
    align-items: center;
  }
  
  
  /* =================================== */
  /*  About Styles 
  /* =================================== */
  .about-section .overlay-bg1 {
   
    background-size: cover;
    background-position: center;
  }
  .about-section .overlay-bg2 {
   
    background-size: cover;
    background-position: center;
  }
  .about-section .about-left img {
    width: 100%;
  }
  .about-section .about-right h3 {
    font-weight: 300;
  }
  .about-section .about-right h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 480px;
  }
  .about-section .about-right .icon {
    margin-right: 30px;
  }
  .about-section .about-right .icon span {
    font-size: 40px;
    color: #691cff;
  }
  .about-section .about-right .details p {
    max-width: 300px;
    margin-top: 15px;
  }
  .about-section .about-right .details h4 {
    font-weight: 400;
  }
  .about-section .about-right ul li {
    margin-bottom: 20px !important;
  }
  .about-section .about-right ul li:last-child {
    margin-bottom: 0px !important;
  }
  
  .floating-shapes span {
    display: block;
    position: absolute;
  }
  .floating-shapes span img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .floating-shapes span:nth-child(1) {
    left: 4.8%;
    top: 4.5%;
  }
  .floating-shapes span:nth-child(2) {
    left: 9.6%;
    top: 27.2%;
  }
  .floating-shapes span:nth-child(3) {
    left: 8.8%;
    bottom: 16%;
  }
  .floating-shapes span:nth-child(4) {
    left: 25%;
    bottom: 21%;
  }
  .floating-shapes span:nth-child(5) {
    left: 35%;
    top: 6.6%;
  }
  .floating-shapes span:nth-child(6) {
    left: 43%;
    bottom: 30%;
  }
  .floating-shapes span:nth-child(7) {
    left: 49%;
    top: 50%;
  }
  .floating-shapes span:nth-child(8) {
    right: 11.8%;
    top: 33%;
  }
  .floating-shapes span:nth-child(9) {
    right: 6%;
    top: 10%;
  }
  .floating-shapes span:nth-child(10) {
    right: 4.5%;
    bottom: 33%;
  }
  
  @media screen and (max-width: 767.98px) {
    .floating-shapes span {
      -webkit-transform: none !important;
      -ms-transform: none !important;
      transform: none !important;
      display: none;
    }
  }